<div
class="${prefix}progress
{{#if status}} ${prefix}progress-{{status}}{{/if}}
{{#if active}} ${prefix}progress-active{{/if}}

{{#if inside}} ${prefix}progress-inside
{{else}} ${prefix}progress-outside
{{/if}}

{{#if vertical}} ${prefix}progress-vertical
{{else}} ${prefix}progress-horizontal
{{/if}}

{{#if !inside && !vertical && hasSlot('children')}} ${prefix}progress-with-text{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  {{#if inside}}
    <ProgressTrack
      vertical="{{vertical}}"
      inside="{{inside}}"
      thickness="{{thickness}}"
      percent="{{percent}}"
    >
      <slot />
    </ProgressTrack>
  {{else}}

    <ProgressTrack
      vertical="{{vertical}}"
      inside="{{inside}}"
      thickness="{{thickness}}"
      percent="{{percent}}"
    />

    {{#if hasSlot('children')}}
      <div class="${prefix}progress-text">
        <slot />
      </div>
    {{/if}}

  {{/if}}

</div>