
<Popover
  placement="{{placement}}"
  trigger="{{RAW_CUSTOM}}"
  visible="{{isVisible}}"
  triggerMutable="{{multiple}}"
  widthAlign="{{!options || !options.length || query}}"
  gap="5"
>

  <div
    class="${prefix}cascader
    {{#if status}} ${prefix}cascader-{{status}}{{/if}}
    {{#if size}} ${prefix}cascader-{{size}}{{/if}}
    {{#if block}} ${prefix}cascader-block{{/if}}
    {{#if isVisible}} ${prefix}cascader-opened{{/if}}
    {{#if showClear}} ${prefix}cascader-with-clear{{/if}}
    {{#if showSearch}} ${prefix}cascader-searchable{{/if}}
    {{#if isReversed}} ${prefix}cascader-reversed{{/if}}
    {{#if disabled}} ${prefix}cascader-disabled
    {{else}} ${prefix}cascader-enabled
    {{/if}}
    {{#if className}} {{className}}{{/if}}"

    {{#if !disabled}}
      tabindex="0"
      on-click="onClick()"
      on-focus="set('isFocus', true)"
      on-blur="set('isFocus', false)"
    {{/if}}

    {{#if inlineStyle}}
      style="{{inlineStyle}}"
    {{/if}}
  >

    {{#if actualOptions.length === 0}}

      {{#if isSearching}}
        <input
          ref="searchInput"
          model="query"
          class="${prefix}cascader-search-normal-input"
          placeholder="{{placeholder}}"
        >
      {{else}}
        <div class="${prefix}cascader-placeholder">
          {{placeholder}}
        </div>
      {{/if}}

    {{else if multiple}}

      <div class="${prefix}cascader-values">
        {{#each actualOptions:index}}
          <Tag
            closable
            className="${prefix}cascader-value-tag"
            on-close="onOptionRemove($event, index)"
          >
            {{actualTexts[index]}}
          </Tag>
        {{/each}}
        {{#if isSearching}}
          <input
            ref="searchInput"
            model="query"
            class="${prefix}cascader-search-append-input"
            on-keydown="onSearchInputKeydown()"
            style="{{searchInputStyle}}"
          >
        {{/if}}
      </div>

    {{else}}

      {{#if isSearching}}
        <input
          ref="searchInput"
          model="query"
          class="${prefix}cascader-search-normal-input"
          placeholder="{{actualOptions.length === 0 ? placeholder : actualTexts[0]}}"
        >
      {{else}}
        <div
          class="${prefix}cascader-value"
          title="{{actualTexts[0]}}"
        >
          {{actualTexts[0]}}
        </div>
      {{/if}}

    {{/if}}

    {{#if isSearching}}
      <span
        ref="searchMirror"
        class="${prefix}cascader-search-input-mirror"
      >
        {{query}}
      </span>
    {{/if}}

    {{#if showClear && actualOptions.length}}
      <Icon
        name="close-circle-fill"
        className="${prefix}cascader-clear-icon"
        on-click.native="onClearClick()"
      />
    {{/if}}

    <Icon
      name="arrow-down-s-line"
      className="${prefix}cascader-arrow-icon"
    />

  </div>

  <div
    slot="overlay"
    class="${prefix}cascader-overlay"
  >
    {{#if query}}
      {{#if searchResult.length > 0}}
        <div class="${prefix}cascader-search-list">
          {{#each searchResult}}
            <div
              class="${prefix}cascader-search-item
              {{#if this.disabled}} ${prefix}cascader-search-item-disabled
              {{else}} ${prefix}cascader-search-item-enabled
              {{/if}}
              {{#if this.checked}} ${prefix}cascader-search-item-selected{{/if}}
              {{#if !~/multiple}} ${prefix}cascader-search-item-single{{/if}}"
              title="{{this.text}}"
              on-click="onSearchResultClick($event, this)"
            >
              {{#if ~/multiple}}
                <Checkbox
                  checked="{{this.checked}}"
                  disabled="{{this.disabled}}"
                  className="${prefix}cascader-search-checkbox"
                  on-change="onSearchResultClick($event, this)"
                />
                {{this.text}}
              {{else}}
                {{this.text}}

                {{#if this.checked}}
                  <Icon
                    name="check-line"
                    className="${prefix}cascader-search-check-icon"
                  />
                {{/if}}
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{else}}
        <div class="${prefix}cascader-search-empty">
          <Empty simple>
            暂无数据
          </Empty>
        </div>
      {{/if}}
    {{else}}
      <CascaderOptions
        level="{{0}}"
        options="{{options}}"
        multiple="{{multiple}}"
        loadData="{{loadData}}"
        loadingValues="{{loadingValues}}"
        checkedValues="{{checkedValues}}"
        selectedValues="{{selectedValues}}"
        indeterminateValues="{{indeterminateValues}}"
      />
    {{/if}}
  </div>

</Popover>