<div
  class="${prefix}cascader-option
  {{#if selected}} ${prefix}cascader-option-selected{{/if}}
  {{#if checked}} ${prefix}cascader-option-checked{{/if}}
  {{#if option.disabled}} ${prefix}cascader-option-disabled
  {{else}} ${prefix}cascader-option-enabled
  {{/if}}"

  {{#if option.text}}
    title="{{option.text}}"
  {{/if}}

  {{#if interactive}}
    on-click="onClick()"
  {{/if}}
>
  <div class="${prefix}cascader-option-text">
    {{#if checkable}}
      <Checkbox
        checked="{{checked}}"
        indeterminate="{{indeterminate}}"
        disabled="{{!interactive}}"
        on-change="onCheckboxChange()"
      />
    {{/if}}
    {{option.text}}
  </div>

  {{#if loading}}
    <Icon
      className="${prefix}cascader-option-loading"
      name="loader-5-line"
      spin
    />
  {{else if option.children}}
    <Icon
      className="${prefix}cascader-option-expand"
      name="arrow-right-s-line"
      spin="{{false}}"
    />
  {{/if}}
</div>