<fragment>
  <div
    class="${prefix}cascader-options
    {{#if !options.length}} ${prefix}cascader-options-empty{{/if}}"
  >
    {{#each options:index}}
      <CascaderOption
        level="{{~/level}}"
        index="{{index}}"
        option="{{this}}"
        checkable="{{~/multiple}}"
        loadData="{{~/loadData}}"
        loadingValues="{{~/currentLoadingValues}}"
        selectedValue="{{~/currentSelectedValue}}"
        checkedValues="{{~/currentCheckedValues}}"
        indeterminateValues="{{~/currentIndeterminateValues}}"
      />
    {{else}}
      <Empty simple>
        暂无数据
      </Empty>
    {{/each}}
  </div>
  {{#if currentSelectedOption && currentSelectedOption.children}}
    <CascaderOptions
      level="{{level + 1}}"
      options="{{currentSelectedOption.children}}"
      multiple="{{multiple}}"
      loadData="{{loadData}}"
      loadingValues="{{loadingValues}}"
      checkedValues="{{checkedValues}}"
      selectedValues="{{selectedValues}}"
      indeterminateValues="{{indeterminateValues}}"
    />
  {{/if}}
</fragment>