<div
class="${prefix}textarea
{{#if size}} ${prefix}textarea-{{size}}{{/if}}
{{#if status}} ${prefix}textarea-{{status}}{{/if}}
{{#if block}} ${prefix}textarea-block{{/if}}

{{#if resize === RAW_HORIZONTAL}} ${prefix}textarea-resize-horizontal
{{else if resize === RAW_VERTICAL}} ${prefix}textarea-resize-vertical
{{/if}}

{{#if disabled}} ${prefix}textarea-disabled
{{else}} ${prefix}textarea-enabled
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if width || style}}
  style="{{[
    width
      ? { width: width + 'px' }
      : undefined,
    style
  ]}}"
{{/if}}
>

  <textarea
    class="${prefix}textarea-el{{#if hasCount}} ${prefix}textarea-el-with-word-count{{/if}}"
    model="value"

    {{#if wrap}}
      wrap="{{wrap}}"
    {{/if}}

    {{#if placeholder}}
      placeholder="{{placeholder}}"
    {{/if}}

    {{#if maxLength}}
      maxlength="{{maxLength}}"
    {{/if}}

    {{#if autoFocus}}
      autofocus
    {{/if}}

    {{#if readOnly}}
      readonly
    {{/if}}

    {{#if spellCheck}}
      spellcheck
    {{/if}}

    {{#if disabled}}
      disabled
    {{else}}
      on-blur="handleBlur()"
      on-focus="handleFocus()"
    {{/if}}

    style="{{textareaStyle}}"
  >
  </textarea>

  {{#if hasCount}}
    <div class="${prefix}textarea-word-count">
      {{formatValueLength(value)}} / {{maxLength}}
    </div>
  {{/if}}

</div>