{{#if mode === 'inline'}}

  <div

    class="${prefix}sub-menu
    {{#if isOpen}} ${prefix}menu-open{{/if}}
    {{#if isActive}} ${prefix}menu-active{{/if}}
    {{#if className}} {{className}}{{/if}}"

    {{#if style}}
      style="{{style}}"
    {{/if}}

  >

    <div
      class="${prefix}sub-menu-title"
      {{#if !collapsed}}
        on-click="toggle('isOpen')"
        lazy-click="300"
      {{/if}}
    >
      <slot name="title" />
      {{#if !collapsed}}
        <Icon
          name="arrow-down-s-line"
          size="0"
          className="${prefix}sub-menu-arrow-icon"
        />
      {{/if}}
    </div>

    <Menu ref="menu" mode="{{mode}}" inner>
      <slot name="children" />
    </Menu>

  </div>

{{else}}

  <Dropdown

    className="${prefix}sub-menu
    {{#if isActive}} ${prefix}menu-active{{/if}}
    {{#if className}} {{className}}{{/if}}"

    {{#if style}}
      style="{{style}}"
    {{/if}}

    trigger="custom"
    visible="{{isOpen}}"
    placement="{{mode === 'horizontal' ? 'bottom' : 'right-start'}}"
    on-outside="handleOutsideClick()"

  >
    <div
      class="${prefix}sub-menu-title"
      {{#if !collapsed}}
        on-click="toggle('isOpen')"
        lazy-click="300"
      {{/if}}
    >
      <slot name="title" />
      {{#if !collapsed}}
        <Icon
          name="arrow-down-s-line"
          size="0"
          className="${prefix}sub-menu-arrow-icon"
        />
      {{/if}}
    </div>

    <template slot="overlay">
      <slot name="children" />
    </template>

  </Dropdown>

{{/if}}