<div
class="${prefix}result
{{#if status}} ${prefix}result-{{status}}{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div class="${prefix}result-indicator">
    <slot name="icon">
      <Icon
        name="{{iconName}}"
        className="${prefix}result-icon"
      />
    </slot>
  </div>

  {{#if title}}
    <div class="${prefix}result-title">
      {{title}}
    </div>
  {{/if}}

  {{#if subTitle}}
    <div class="${prefix}result-sub-title">
      {{subTitle}}
    </div>
  {{/if}}

  {{#if @extra}}
    <div class="${prefix}result-extra">
      <slot name="extra" />
    </div>
  {{/if}}

</div>