<div
class="${prefix}input-wrapper
{{#if hasSlot('prepend')}} ${prefix}input-has-prepend{{/if}}
{{#if hasSlot('append') || (search && enterButton)}} ${prefix}input-has-append{{/if}}
{{#if size}} ${prefix}input-wrapper-{{size}}{{/if}}
{{#if status}} ${prefix}input-wrapper-{{status}}{{/if}}
{{#if isFocus}} ${prefix}focus{{/if}}
{{#if autoSize}} ${prefix}input-autosize{{/if}}
{{#if clearable}} ${prefix}input-wrapper-clearable{{/if}}
{{#if disabled}} ${prefix}input-wrapper-disabled{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  {{#if hasSlot('prepend')}}
    <div class="${prefix}input-prepend">
      <slot name="prepend" />
    </div>
  {{/if}}

  <div
    class="${prefix}input
    {{#if type === TEXT_TYPE_TEXTAREA}} ${prefix}textarea{{/if}}"
  >

    {{#if type === TEXT_TYPE_TEXTAREA}}

      <textarea
        class="${prefix}input-el"
        model="value"

        {{#if rows}}
          rows="{{rows}}"
        {{/if}}

        {{#if wrap}}
          wrap="{{wrap}}"
        {{/if}}

        {{#if placeholder}}
          placeholder="{{placeholder}}"
        {{/if}}

        {{#if readOnly}}
          readonly
        {{/if}}

        {{#if autoComplete}}
          autocomplete
        {{/if}}

        {{#if spellCheck}}
          spellcheck
        {{/if}}

        {{#if disabled}}
          disabled
        {{/if}}

        style="{{textareaStyle}}"
      >
      </textarea>

    {{else}}

      <input
        ref="input"
        type="{{currentType}}"
        model="value"
        class="${prefix}input-el
          {{#if size}} ${prefix}input-{{size}}{{/if}}
          {{#if hasSlot('prefix') || prefix}} ${prefix}input-with-prefix{{/if}}
          {{#if hasSlot('suffix') || suffix}} ${prefix}input-with-suffix{{/if}}"

        {{#if maxLength}}
          maxlength="{{maxLength}}"
        {{/if}}

        {{#if wrap}}
          wrap="{{wrap}}"
        {{/if}}

        {{#if placeholder}}
          placeholder="{{placeholder}}"
        {{/if}}

        {{#if readOnly}}
          readonly
        {{/if}}

        {{#if autoComplete}}
          autocomplete
        {{/if}}

        {{#if spellCheck}}
          spellcheck
        {{/if}}

        {{#if disabled}}
          disabled
        {{/if}}

        on-blur="blur()"
        on-focus="focus()"
      />

      {{#if hasSlot('prefix') || prefix}}
        <span class="${prefix}input-prefix">
          <slot name="prefix">
            <Icon
              name="{{prefix}}"
              className="${prefix}input-prefix-icon"
            />
          </slot>
        </span>
      {{/if}}

      {{#if hasSlot('suffix') || suffix}}
        <span class="${prefix}input-suffix">
          <slot name="suffix">
            <Icon
              name="{{suffix}}"
              className="${prefix}input-suffix-icon"
            />
          </slot>
        </span>
      {{/if}}

      {{#if search && !enterButton}}
        <span class="${prefix}input-suffix" on-click="search()">
          <Icon
            name="search"
            className="${prefix}input-suffix-icon"
          />
        </span>
      {{/if}}

      {{#if secure}}
        <span class="${prefix}input-suffix" on-click="toggle('isSecure')">
          <Icon
            name="{{isSecure ? 'eye' : 'eye-off'}}"
            className="${prefix}input-suffix-icon"
          />
        </span>
      {{/if}}


      {{#if clearable}}
        <Icon
          name="close-circle"
          size="16"
          className="${prefix}input-clear-icon"
          on-click.native="clear()"
        />
      {{/if}}

    {{/if}}

  </div>

  {{#if hasSlot('append')}}
    <div class="${prefix}input-append">
      <slot name="append" />
    </div>
  {{/if}}

  {{#if search && enterButton}}
    <div class="${prefix}input-append" on-click="search()">
      <Button type="primary">
        {{#if isBoolean(enterButton)}}
          <Icon name="search" />
        {{else}}
          {{enterButton}}
        {{/if}}
      </Button>
    </div>
  {{/if}}

</div>