<div
class="${prefix}input-number

{{#if status}} ${prefix}input-number-{{status}}{{/if}}
{{#if size}} ${prefix}input-number-{{size}}{{/if}}

{{#if disabled}} ${prefix}input-number-disabled
{{else}} ${prefix}input-number-enabled
{{/if}}

{{#if isFocus}} ${prefix}input-number-focus{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if width || style}}
  style="{{#if width}}width: {{width}}px;{{/if}}
  {{#if style}}{{style}}{{/if}}"
{{/if}}
>

  <input
    type="text"
    class="${prefix}input-number-el"
    model="computedValue"

    {{#if placeholder}}
      placeholder="{{placeholder}}"
    {{/if}}

    {{#if disabled}}
      disabled
    {{/if}}

    {{#if autoFocus}}
      autofocus
    {{/if}}

    {{#if readOnly || !editable}}
      readonly
    {{else}}
      on-blur="handleBlur()"
      on-focus="handleFocus()"
    {{/if}}
  >

  {{#if !disabled && !readOnly}}
    <div class="${prefix}input-number-actions">
      <div
        {{#if upDisabled}}
          class="${prefix}input-number-up ${prefix}input-number-up-disabled"
        {{else}}
          class="${prefix}input-number-up ${prefix}input-number-up-enabled"
          on-click="up()"
        {{/if}}
      >
        <Icon
          name="arrow-up"
          size="0"
          className="${prefix}input-number-up-icon"
        />
      </div>
      <div
        {{#if downDisabled}}
          class="${prefix}input-number-down ${prefix}input-number-down-disabled"
        {{else}}
          class="${prefix}input-number-down ${prefix}input-number-down-enabled"
          on-click="down()"
        {{/if}}
      >
        <Icon
          name="arrow-down"
          size="0"
          className="${prefix}input-number-down-icon"
        />
      </div>
    </div>
  {{/if}}

</div>