<div
class="${prefix}input
{{#if size}} ${prefix}input-{{size}}{{/if}}
{{#if status}} ${prefix}input-{{status}}{{/if}}
{{#if clearable}} ${prefix}input-clearable{{/if}}
{{#if disabled}} ${prefix}input-disabled
{{else}} ${prefix}input-enabled
{{/if}}

{{#if isFocus}} ${prefix}input-focus{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if width || style}}
  style="{{#if width}}width: {{width}}px{{/if}};
  {{#if style}}{{style}}{{/if}}"
{{/if}}
>

  {{#if hasSlot('prepend')}}
    <div class="${prefix}input-prepend">
      <slot name="prepend" />
    </div>
  {{/if}}

  <div
    class="${prefix}input-content
    {{#if hasSlot('prepend')}} ${prefix}input-with-prepend{{/if}}
    {{#if hasSlot('append') || (search && enterButton)}} ${prefix}input-with-append{{/if}}"
  >

    {{#if type === TEXT_TYPE_TEXTAREA}}

      <textarea
        class="${prefix}textarea-el
        {{#if autoSize}} ${prefix}input-autosize{{/if}}"
        model="value"

        {{#if rows}}
          rows="{{rows}}"
        {{/if}}

        {{#if wrap}}
          wrap="{{wrap}}"
        {{/if}}

        {{#if placeholder}}
          placeholder="{{placeholder}}"
        {{/if}}

        {{#if readOnly}}
          readonly
        {{/if}}

        {{#if autoComplete}}
          autocomplete
        {{/if}}

        {{#if spellCheck}}
          spellcheck
        {{/if}}

        {{#if disabled}}
          disabled
        {{else}}
          on-blur="handleBlur()"
          on-focus="handleFocus()"
        {{/if}}

        style="{{textareaStyle}}"
      >
      </textarea>

    {{else}}

      <input
        ref="input"
        type="{{currentType}}"
        model="value"
        class="${prefix}input-el
        {{#if hasSlot('prefix') || prefix}} ${prefix}input-el-with-prefix
        {{/if}}

        {{#if hasSlot('suffix') || suffix || secure || clearable || search && !enterButton}} ${prefix}input-el-with-suffix
        {{/if}}"

        {{#if maxLength}}
          maxlength="{{maxLength}}"
        {{/if}}

        {{#if wrap}}
          wrap="{{wrap}}"
        {{/if}}

        {{#if placeholder}}
          placeholder="{{placeholder}}"
        {{/if}}

        {{#if readOnly}}
          readonly
        {{/if}}

        {{#if autoComplete}}
          autocomplete
        {{/if}}

        {{#if spellCheck}}
          spellcheck
        {{/if}}

        {{#if disabled}}
          disabled
        {{else}}
          on-blur="handleBlur()"
          on-focus="handleFocus()"
        {{/if}}

      >

      {{#if hasSlot('prefix') || prefix}}
        <div class="${prefix}input-prefix">
          <slot name="prefix">
            <Icon
              name="{{prefix}}"
            />
          </slot>
        </div>
      {{/if}}

      {{#if hasSlot('suffix') || suffix}}
        <div class="${prefix}input-suffix">
          <slot name="suffix">
            <Icon
              name="{{suffix}}"
            />
          </slot>
        </div>
      {{else if secure}}
        <div class="${prefix}input-suffix" on-click="toggle('isSecure')">
          <Icon
            name="{{isSecure ? 'eye' : 'eye-off'}}"
          />
        </div>
      {{else if clearable}}
        <div class="${prefix}input-suffix ${prefix}input-clear" on-click="handleClearClick()">
          <Icon
            name="close-circle"
          />
        </div>
      {{else if search && !enterButton}}
        <div class="${prefix}input-suffix" on-click="handleSearchClick()">
          <Icon
            name="search"
          />
        </div>
      {{/if}}

    {{/if}}

  </div>

  {{#if hasSlot('append')}}
    <div class="${prefix}input-append">
      <slot name="append" />
    </div>
  {{else if search && enterButton}}
    <div class="${prefix}input-append ${prefix}input-append-button" on-click="handleSearchClick()">
      <Button type="primary">
        {{#if isBoolean(enterButton)}}
          <Icon name="search" />
        {{else}}
          {{enterButton}}
        {{/if}}
      </Button>
    </div>
  {{/if}}

</div>