<div

class="${prefix}input-number
{{#if size}} ${prefix}input-number-{{size}}{{/if}}
{{#if status}} ${prefix}input-number-{{status}}{{/if}}
{{#if disabled}} ${prefix}input-number-disabled{{/if}}
{{#if readOnly}} ${prefix}input-number-readonly{{/if}}
{{#if isFocus}} ${prefix}focus{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <input
    type="text"
    class="${prefix}input"
    model="computedValue"

    {{#if placeholder}}
      placeholder="{{placeholder}}"
    {{/if}}

    {{#if disabled}}
      disabled
    {{/if}}

    {{#if readOnly || !editable}}
      readonly
    {{/if}}

    on-blur="blur()"
    on-focus="focus()"
  >

  <span class="${prefix}input-number-actions">
    <Icon
      name="arrow-up"
      className="${prefix}input-number-icon
      {{#if max != null && max - value < +step}} disabled{{/if}}"
      on-click.native="up()"
    />
    <Icon
      name="arrow-down"
      className="${prefix}input-number-icon
      {{#if min != null && value - min < +step}} disabled{{/if}}"
      on-click.native="down()"
    />
  </span>

</div>