<div
class="${prefix}pagination
{{#if size}} ${prefix}pagination-{{size}}{{/if}}
{{#if hideOnSinglePage && count <= 1}} ${prefix}pagination-hidden{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  {{#if showTotal}}
    <span class="${prefix}pagination-total">
      共 {{total}} 条
    </span>
  {{/if}}

  {{#if pageSizeList.length > 0}}
    <Select
      model="pageSize"
      size="{{size}}"
      placement="{{placement}}"
    >
      {{#each pageSizeList}}
        <Option
          value="{{this.value}}"
          text="{{this.text}}"
        />
      {{/each}}
    </Select>
  {{/if}}

  {{#if simple}}

    <div class="${prefix}pagination-simple">

      <PrevPage
        key="prev"
        disabled="{{current === 1}}"
      >
        <slot name="prev" />
      </PrevPage>

      <Input
        ref="simpleInput"
        size="{{size}}"
        model="page"
        className="${prefix}pagination-simple-input"
      />

      <span class="${prefix}pagination-separator">
        /
      </span>

      <span class="${prefix}pagination-count">
        {{count}}
      </span>

      <NextPage
        key="next"
        disabled="{{current === count}}"
      >
        <slot name="next" />
      </NextPage>

    </div>

  {{else}}

    <div class="${prefix}pagination-list">

      <PrevPage
        key="prev"
        disabled="{{current === 1}}"
      >
        <slot name="prev" />
      </PrevPage>

      {{#each pageList}}

        {{#if this.prev}}

          <div
            key="prev-ellipsis"
            class="${prefix}pagination-ellipsis"
            on-click="decreaseCurrent(5)"
          >
            <Icon
              name="arrow-left-s-fill"
              className="${prefix}pagination-icon"
            />
          </div>

        {{else if this.next}}

          <div
            key="next-ellipsis"
            class="${prefix}pagination-ellipsis"
            on-click="increaseCurrent(5)"
          >
            <Icon
              name="arrow-right-s-fill"
              className="${prefix}pagination-icon"
            />
          </div>

        {{else}}

          <div
            key="page{{this.value}}"
            class="${prefix}pagination-item
            {{#if this.active}} ${prefix}pagination-item-active{{/if}}"
            {{#if !this.active}}
              on-click="setCurrent(this.value)"
            {{/if}}
          >
            {{this.value}}
          </div>

        {{/if}}

      {{/each}}

      <NextPage
        key="next"
        disabled="{{current === count}}"
      >
        <slot name="next" />
      </NextPage>

    </div>

  {{/if}}

  {{#if showJumper}}
    <div class="${prefix}pagination-jumper">
      <Input
        ref="jumperInput"
        placeholder="请输入页码"
        model="page"
        size="{{size}}"
        className="${prefix}pagination-jumper-input"
      />
      <Button
        size="{{size}}"
        type="primary"
        on-click="jump()"
      >
        跳转
      </Button>
    </div>
  {{/if}}

</div>