<div
class="${prefix}tag

{{#if type}} ${prefix}tag-{{type}}

  {{!
    simple 和 dot 互斥
  }}
  {{#if dot}} ${prefix}tag-dot
  {{else}}

      {{#if simple}} ${prefix}tag-simple
      {{else}} ${prefix}tag-bordered
      {{/if}}

  {{/if}}

{{else}}
  {{#if dot}} ${prefix}tag-dot
  {{else if simple}} ${prefix}tag-simple
  {{/if}}
{{/if}}

{{#if size}} ${prefix}tag-{{size}}{{/if}}

{{#if checkable}} ${prefix}tag-checkable{{/if}}
{{#if closable}} ${prefix}tag-closable{{/if}}

{{#if checked}} ${prefix}tag-checked{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if checkable}}
  on-click="toggle('checked')"
{{/if}}
>

  <slot name="children" />

  {{#if closable}}
    <Icon
      name="close"
      size="0"
      className="${prefix}tag-close-icon"
      on-click.native="fire('close.tag')"
    />
  {{/if}}

</div>