<div
class="${prefix}image
{{#if simple}} ${prefix}image-simple
{{else}} ${prefix}image-bordered
{{/if}}
{{#if customHeight <= 100}} ${prefix}image-small{{/if}}
{{#if uploadTitle}} ${prefix}image-with-upload{{/if}}
{{#if image.message}} ${prefix}image-with-message{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}
>

  {{#if image.url || image.base64}}
    <img
      class="${prefix}image-native
      {{#if mode}} ${prefix}image-native-{{hyphenate(mode)}}{{/if}}"

      {{#if image.base64}}
        src="{{image.base64}}"
      {{else}}
        src="{{
          formatImageUrl
          ? formatImageUrl({
              url: image.url,
              width: customWidth,
              height: customHeight,
              responsive: true
            })
          : image.url
        }}"
      {{/if}}

      {{#if alt}}
        alt="{{alt}}"
      {{/if}}
      draggable="false"
    >
  {{else}}
    <div
      class="${prefix}image-placeholder
      {{#if !@placeholder}} ${prefix}image-placeholder-empty{{/if}}"
    >
      <slot name="placeholder" />
    </div>
  {{/if}}

  {{#if image.message || showPreview}}
    <div class="${prefix}image-mask">
      {{#if image.message}}
        <div class="${prefix}image-message">
          {{{image.message}}}
        </div>
      {{else if showPreview}}
        <div class="${prefix}image-action">
          <Icon
            name="zoom-in-line"
            on-click.native="previewImage()"
          />
        </div>
      {{/if}}
    </div>
  {{/if}}


  {{#if uploadTitle}}
    {{#if uploadImage}}
      {{#if isUploading}}
        <div
          class="${prefix}image-footer ${prefix}image-footer-disabled"
        >
          {{uploadingTitle}}
          <LoadingBar
            manual
            outside
            className="${prefix}image-progress"
            percent="{{image.progress > 0 ? image.progress * 100 : 0}}"
          />
        </div>
      {{else}}
        <Upload
          ref="upload"
          className="${prefix}image-footer ${prefix}image-footer-enabled"
          accept="{{accept}}"
          beforeUpload="{{beforeUploadImage}}"
        >
          {{uploadTitle}}
        </Upload>
      {{/if}}
    {{else}}
      <div
        class="${prefix}image-footer ${prefix}image-footer-enabled"
        on-click="uploadClick.image"
      >
        {{uploadTitle}}
      </div>
    {{/if}}
  {{/if}}

</div>