<ResizeObserver
  on-resize="onResize()"
>
  <div
  class="${prefix}table

  {{#if stripe}} ${prefix}table-stripe{{/if}}

  {{#if simple}} ${prefix}table-simple
  {{else}} ${prefix}table-bordered
  {{/if}}

  {{#if className}} {{className}}{{/if}}"

  {{#if inlineStyle}}
    style="{{inlineStyle}}"
  {{/if}}
  >

  {{#if colWidths}}

    <table style="{{scrollWidthStyle}}">
      <colgroup>
        {{#each colWidths}}
          <col width="{{this}}">
        {{/each}}
      </colgroup>

      <thead class="${prefix}table-header">
        <tr>
          {{#each renderColumns}}
            <th
              class="${prefix}table-cell
              {{#if this.align}} ${prefix}table-cell-align-{{this.align}}{{/if}}
              {{#if this.fixed}} ${prefix}table-cell-fixed-{{this.fixed}}{{/if}}
              {{#if this.lastFixed}} ${prefix}table-cell-last-fixed-{{this.lastFixed}}{{/if}}"
              style="{{this.style}}"
            >
              {{#if this.key === 'selection'}}
                {{#if list.length > 0}}
                  <Checkbox
                    checked="{{~/allChecked}}"
                    on-change="allCheckedChange()"
                  />
                {{else}}
                  <Checkbox
                    disabled
                  />
                {{/if}}
              {{else}}
                {{this.title}}
                {{#if this.sortable}}
                  <div
                    class="${prefix}table-sorter"
                    on-click="sortColumn(this.key, ~/sortKey === this.key && ~/sortOrder === ~/SORT_ORDER_DESC ? ~/SORT_ORDER_ASC : ~/SORT_ORDER_DESC)"
                  >
                    <Icon
                      name="arrow-up-s-fill"
                      className="${prefix}table-sort-asc
                        {{#if ~/sortKey === this.key && ~/sortOrder === ~/SORT_ORDER_ASC}} ${prefix}table-sort-active{{/if}}"
                    />
                    <Icon
                      name="arrow-down-s-fill"
                      className="${prefix}table-sort-desc
                        {{#if ~/sortKey === this.key && ~/sortOrder === ~/SORT_ORDER_DESC}} ${prefix}table-sort-active{{/if}}"
                    />
                  </div>
                {{/if}}
              {{/if}}
            </th>
          {{/each}}
        </tr>
      </thead>

      {{#if list.length > 0}}
        <tbody class="${prefix}table-body">
          <slot>
            {{#each list:index}}
            <tr>
              {{#each ~/renderColumns}}

                {{#if this.actions && this.actions.length}}

                  <td
                    class="${prefix}table-cell
                    {{#if this.align}} ${prefix}table-cell-align-{{this.align}}{{/if}}
                    {{#if this.fixed}} ${prefix}table-cell-fixed-{{this.fixed}}{{/if}}
                    {{#if this.lastFixed}} ${prefix}table-cell-last-fixed-{{this.lastFixed}}{{/if}}"
                    style="{{this.style}}"
                  >
                    {{#each this.actions}}
                      <Button
                        on-click="clickButton(this, list[index], index)"
                        className="{{this.className}}"
                        disabled="{{this.disabled}}"
                        block="{{this.block}}"
                        shape="{{this.shape}}"
                        size="{{this.size}}"
                        type="{{this.type}}"
                      >
                        {{this.text}}
                      </Button>
                    {{/each}}
                  </td>

                {{else if list[ index ][ this.key ] !== undefined}}

                  <td
                    class="${prefix}table-cell
                    {{#if this.align}} ${prefix}table-cell-align-{{this.align}}{{/if}}
                    {{#if this.fixed}} ${prefix}table-cell-fixed-{{this.fixed}}{{/if}}
                    {{#if this.lastFixed}} ${prefix}table-cell-last-fixed-{{this.lastFixed}}{{/if}}"
                    style="{{this.style}}"
                  >
                    {{#if this.dangerous}}
                      <div>
                        {{{list[ index ][ this.key ]}}}
                      </div>
                    {{else}}
                      {{list[ index ][ this.key ]}}
                    {{/if}}
                  </td>

                {{else if this.key === 'selection'}}

                  <td
                    class="${prefix}table-cell
                    {{#if this.align}} ${prefix}table-cell-align-{{this.align}}{{/if}}
                    {{#if this.fixed}} ${prefix}table-cell-fixed-{{this.fixed}}{{/if}}
                    {{#if this.lastFixed}} ${prefix}table-cell-last-fixed-{{this.lastFixed}}{{/if}}"
                    style="{{this.style}}"
                  >
                    <Checkbox
                      checked="{{inArray(selection, list[ index ].key)}}"
                      on-change="rowCheckedChange($event, $data, index)"
                    />
                  </td>

                {{else}}

                  <td
                    class="${prefix}table-cell
                    {{#if this.align}} ${prefix}table-cell-align-{{this.align}}{{/if}}
                    {{#if this.fixed}} ${prefix}table-cell-fixed-{{this.fixed}}{{/if}}
                    {{#if this.lastFixed}} ${prefix}table-cell-last-fixed-{{this.lastFixed}}{{/if}}"
                    style="{{this.style}}"
                  >
                    {{this.key}} is not found.
                  </td>

                {{/if}}

              {{/each}}
            </tr>
            {{/each}}
          </slot>
        </tbody>
      {{/if}}
    </table>

    {{#if list.length === 0}}
      <div class="${prefix}table-empty">
        <slot name="empty">
          <Empty>
            暂无数据
          </Empty>
        </slot>
      </div>
    {{/if}}

  {{/if}}

  </div>
</ResizeObserver>