<fragment>
  <div
    class="${prefix}tree-node
    {{#if isLeaf}} ${prefix}tree-node-leaf{{/if}}
    {{#if block}} ${prefix}tree-node-block{{/if}}
    {{#if last}} ${prefix}tree-node-last{{/if}}
    {{#if expanded}} ${prefix}tree-node-expanded{{/if}}
    {{#if selected}} ${prefix}tree-node-selected{{/if}}
    {{#if disabled}} ${prefix}tree-node-disabled
    {{else if selectable}} ${prefix}tree-node-selectable
    {{/if}}"
  >
    {{#if indent > 0}}
      <div class="${prefix}tree-indent">
        {{#each 0->indent}}
          <div class="${prefix}tree-indent-unit"></div>
        {{/each}}
      </div>
    {{/if}}
    <div
      class="${prefix}tree-switcher"
      {{#if !isLeaf && !isLoading}}
        on-click="handleExpandClick()"
      {{/if}}
    >
      {{#if !isLeaf}}
        <slot name="switcherIcon">
          {{#if isLoading}}
            <Icon
              className="${prefix}tree-loading-icon"
              name="loader-5-line"
              size="14"
              spin
            />
          {{else if showLine}}
            <Icon
              className=""
              name="{{expanded ? 'checkbox-indeterminate-line' : 'add-box-line'}}"
              size="14"
              spin="{{false}}"
            />
          {{else}}
            <Icon
              className=""
              name="{{expanded ? 'arrow-drop-down-fill' : 'arrow-drop-right-fill'}}"
              size="24"
              spin="{{false}}"
            />
          {{/if}}
        </slot>
      {{/if}}
    </div>

    {{#if checkable}}
      <Checkbox
        checked="{{checked}}"
        disabled="{{disabled}}"
        indeterminate="{{indeterminate}}"
        on-change="handleCheckedChange()"
      />
    {{/if}}

    <div
      class="${prefix}tree-node-content"
      title="{{node.title}}"
      {{#if !disabled}}
        {{#if selectable}}
          on-click="handleSelectClick()"
        {{else if checkable}}
          on-click="handleCheckClick()"
        {{/if}}
      {{/if}}
    >
      {{#if isLeaf}}
        <slot name="leafIcon" />
      {{else}}
        <slot name="branchIcon" />
      {{/if}}

      <div class="${prefix}tree-node-title">
        {{node.title}}
      </div>
    </div>
  </div>
  {{#if expanded && hasChildren}}
    {{#each node.children:index}}
      <TreeNode
        expandedKeys="{{~/expandedKeys}}"
        selectedKeys="{{~/selectedKeys}}"
        checkedKeys="{{~/checkedKeys}}"
        disabledKeys="{{~/disabledKeys}}"
        selectable="{{~/selectable}}"
        checkable="{{~/checkable}}"
        block="{{~/block}}"
        showLine="{{~/showLine}}"
        showIndeterminate="{{~/showIndeterminate}}"
        loadData="{{~/loadData}}"
        last="{{index === $length - 1}}"
        indent="{{~/indent + 1}}"
        node="{{this}}"
      >
        <template slot="switcherIcon">
          <slot name="switcherIcon" />
        </template>
        <template slot="branchIcon">
          <slot name="branchIcon" />
        </template>
        <template slot="leafIcon">
          <slot name="leafIcon" />
        </template>
      </TreeNode>
    {{/each}}
  {{/if}}
</fragment>