<div
class="${prefix}progress
{{#if type}} {{type}}{{/if}}
{{#if active}} active{{/if}}
{{#if vertical}} ${prefix}progress-vertical{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}} style="{{style}}"{{/if}}
>
  <div class="${prefix}progress-outer">
    <div
      class="${prefix}progress-inner"
      style="{{#if vertical}} width: {{strokeWidth}}px;{{/if}}"
    >
      <div class="${prefix}progress-bg" style="
        {{#if !vertical}}
          width: {{percent}}%;
          height: {{strokeWidth}}px;
        {{else}}
          height: {{percent}}%;
          width: {{strokeWidth}}px;
        {{/if}}
      "></div>
    </div>
  </div>

  {{#if !hideInfo}}
    <span class="${prefix}progress-inner-text">
      <slot name="children">
        {{percent}}%
      </slot>
    </span>
  {{/if}}

</div>