{{#if type === RAW_TYPE_DATE}}
  <div
  class="${prefix}date-picker-date ${prefix}date-picker-panel
  {{#if className}} {{className}}{{/if}}"

  {{#if style}}
    style="{{style}}"
  {{/if}}
  >

    <div class="${prefix}date-picker-header">
      <div class="${prefix}date-picker-prev">
        <span class="${prefix}date-picker-header-button" on-click="increaseMonth(-12)">
          <Icon
            name="arrow-left-line"
            className="${prefix}date-picker-header-icon"
          />
        </span>

        <span class="${prefix}date-picker-header-button" on-click="increaseMonth(-1)">
          <Icon
            name="arrow-left-s-line"
            className="${prefix}date-picker-header-icon"
          />
        </span>
      </div>

      <span
        {{#if canPickYear}}
          class="${prefix}date-picker-header-link"
          on-click="set('type', RAW_TYPE_YEAR)"
        {{/if}}
      >
        <span class="${prefix}date-picker-header-year">
          {{date.year}}
        </span>
        年
      </span>
      <span
        {{#if canPickMonth}}
          class="${prefix}date-picker-header-link"
          on-click="set('type', RAW_TYPE_MONTH)"
        {{/if}}
      >
        <span class="${prefix}date-picker-header-month">
          {{date.month}}
        </span>
        月
      </span>

      <div class="${prefix}date-picker-next">
        <span class="${prefix}date-picker-header-button" on-click="increaseMonth(1)">
          <Icon
            name="arrow-right-s-line"
            className="${prefix}date-picker-header-icon"
          />
        </span>

        <span class="${prefix}date-picker-header-button" on-click="increaseMonth(12)">
          <Icon
            name="arrow-right-line"
            className="${prefix}date-picker-header-icon"
          />
        </span>
      </div>
    </div>

    <div class="${prefix}date-picker-body">
      <div class="${prefix}date-picker-weeks">
        {{#each weeks}}
          <div class="${prefix}date-picker-col">
            {{this}}
          </div>
        {{/each}}
      </div>
      <div class="${prefix}date-picker-days">
        {{#each datasource}}
          <div class="${prefix}date-picker-row">
            {{#each this.list}}
              <div
                class="${prefix}date-picker-col
                {{#if isEnabled(this, ~/disabledDate)}} ${prefix}date-picker-col-enabled
                  {{#if isCurrentMonth(this, ~/date)}} ${prefix}date-picker-col-current-month
                    {{#if isChecked(this, ~/checkedTimestamps)}} ${prefix}date-picker-col-checked{{/if}}
                  {{else}} ${prefix}date-picker-col-adjacent-month
                  {{/if}}
                {{else}} ${prefix}date-picker-col-disabled
                {{/if}}"

                {{#if isEnabled(this, ~/disabledDate)}}
                  on-click="click(this)"
                {{/if}}
              >
                <div class="${prefix}date-picker-text">
                  {{this.date}}
                </div>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{else if type === RAW_TYPE_YEAR}}
  <DateYear
    checkedYear="{{date.year}}"
  />
{{else if type === RAW_TYPE_MONTH}}
  <DateMonth
    checkedYear="{{date.year}}"
    checkedMonth="{{date.month}}"
  />
{{/if}}