<Popover
  placement="{{placement}}"
  trigger="{{RAW_CUSTOM}}"
  visible="{{isVisible}}"
  triggerMutable="{{multiple}}"
  gap="5"
>

  <div
    class="${prefix}date-picker
    {{#if status}} ${prefix}date-picker-{{status}}{{/if}}
    {{#if size}} ${prefix}date-picker-{{size}}{{/if}}
    {{#if block}} ${prefix}date-picker-block{{/if}}
    {{#if isVisible}} ${prefix}date-picker-opened{{/if}}
    {{#if showClear}} ${prefix}date-picker-with-clear{{/if}}
    {{#if disabled}} ${prefix}date-picker-disabled
    {{else}} ${prefix}date-picker-enabled
    {{/if}}
    {{#if className}} {{className}}{{/if}}"

    {{#if !disabled}}
      tabindex="0"
      on-click="onClick()"
      on-focus="set('isFocus', true)"
      on-blur="set('isFocus', false)"
    {{/if}}

    {{#if inlineStyle}}
      style="{{inlineStyle}}"
    {{/if}}
  >

    {{#if formatedValues.length > 0}}

      {{#if multiple && type !== RAW_TYPE_DATE_RANGE && type !== RAW_TYPE_WEEK}}

        <div class="${prefix}date-picker-values">
          {{#each formatedValues:index}}
            <Tag
              closable
              on-close="onItemRemove($event, index)"
            >
              {{this}}
            </Tag>
          {{/each}}
        </div>

      {{else}}

        <div class="${prefix}date-picker-value">
          {{formatedValues[0]}}

          <!-- week 和 daterange -->
          {{#if formatedValues[1]}}
            <span class="${prefix}date-picker-separator">
              至
            </span>
            {{formatedValues[1]}}
          {{/if}}
        </div>

      {{/if}}

    {{else}}

      <div class="${prefix}date-picker-placeholder">
        {{placeholder}}
      </div>

    {{/if}}

    {{#if showClear && formatedValues.length}}
      <Icon
        name="close-circle-fill"
        className="${prefix}date-picker-clear-icon"
        on-click.native="onClearClick()"
      />
    {{/if}}

    <Icon
      name="calendar-line"
      className="${prefix}date-picker-calendar-icon"
    />

  </div>

  <div
    slot="overlay"
    class="${prefix}date-picker-overlay"
  >

    {{#if shortcuts && shortcuts.length > 0}}
      <div class="${prefix}date-picker-shortcut">
        {{#each shortcuts}}
          <div
            class="${prefix}date-picker-shortcut-item"
            on-click="onShortcutClick(this)"
          >
            {{this.text}}
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#if type === RAW_TYPE_DATE}}
      <DateView
        defaultDate="{{defaultStartSimpleDate.timestamp}}"
        checkedDate="{{value}}"
        disabledDate="{{disabledDate}}"
        canPickYear
        canPickMonth
      />
    {{else if type === RAW_TYPE_DATE_RANGE}}
      <DateRange
        splitPanel="{{splitPanel}}"
        defaultStartDate="{{defaultStartSimpleDate.timestamp}}"
        checkedStartDate="{{value[0]}}"
        defaultEndDate="{{defaultEndSimpleDate.timestamp}}"
        checkedEndDate="{{value[1]}}"
        disabledDate="{{disabledDate}}"
      />
    {{else if type === RAW_TYPE_WEEK}}
      <DateWeek
        defaultDate="{{defaultStartSimpleDate.timestamp}}"
        checkedDate="{{value[0]}}"
        canPickYear
        canPickMonth
      />
    {{else if type === RAW_TYPE_YEAR}}
      <DateYear
        defaultDate="{{defaultStartSimpleDate.timestamp}}"
        checkedDate="{{value}}"
      />
    {{else if type === RAW_TYPE_MONTH}}
      <DateMonth
        defaultDate="{{defaultStartSimpleDate.timestamp}}"
        checkedDate="{{value}}"
        canPickYear
      />
    {{/if}}

  </div>

</Popover>