<div
class="${prefix}tabs
{{#if type}} ${prefix}tabs-{{type}}{{/if}}
{{#if size}} ${prefix}tabs-{{size}}{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div class="${prefix}tabs-bar">

    <div
      class="${prefix}tabs-nav
        {{#if closable}} ${prefix}tabs-nav-closable{{/if}}"
    >
      {{#each tabs}}
        <div
          class="${prefix}tabs-tab
            {{#if this.disabled}} ${prefix}tabs-tab-disabled
            {{else}} ${prefix}tabs-tab-enabled
            {{/if}}

            {{#if this.name === ../value}} ${prefix}tabs-tab-active
            {{/if}}"

          {{#if !this.disabled}}
            on-click="handleClickTab(this)"
          {{/if}}
        >
          {{#if this.icon}}
            <Icon
              className="${prefix}tabs-tab-icon"
              name="{{this.icon}}"
            />
          {{/if}}

          {{this.label}}

          {{#if ../closable}}
            <Icon
              className="${prefix}tabs-tab-close-icon"
              name="close-line"
              on-click.native="handleCloseTab(this)"
            />
          {{/if}}

        </div>
      {{/each}}
    </div>
  </div>

  <div class="${prefix}tabs-content">
    <slot />
  </div>

</div>