<div
class="${prefix}rate
{{#if type}} ${prefix}rate-{{type}}{{/if}}

{{#if readOnly}} ${prefix}rate-dead
{{else}} ${prefix}rate-live
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if !readOnly}}
  on-mouseleave="handleLeave()"
{{/if}}
>
  <input type="hidden" model="value">

  {{#each 1 => count}}
    <Icon
      name="{{~/iconName}}"
      size="{{~/iconSize}}"
      className="${prefix}rate-icon-full
      {{#if ~/activeValue - this >= 0}} ${prefix}rate-icon-active{{/if}}"

      {{#if !~/readOnly}}
        on-mousemove.native="handleMove($event, this)"
        on-click.native="handleClick($event, this)"
      {{/if}}
    >
      {{#if ~/half}}
        <Icon
          name="{{~/iconName}}"
          size="{{~/iconSize}}"
          className="${prefix}rate-icon-half
          {{#if ~/activeValue - this >= -0.5}} ${prefix}rate-icon-active{{/if}}"
        />
      {{/if}}
    </Icon>
  {{/each}}

  {{#if hasSlot('children') || texts}}
    <span
      class="${prefix}rate-text"
      {{! 只要设置相同的 line-height 就能居中对齐 }}
      style="line-height: {{iconSize}}px"
    >
      <slot>
        {{texts[activeValue - 1]}}
      </slot>
    </span>
  {{/if}}

</div>