<div class="${prefix}col
{{#if span}} ${prefix}col-{{span}}{{/if}}
{{#if order}} ${prefix}col-order-{{order}}{{/if}}
{{#if offset}} ${prefix}col-offset-{{offset}}{{/if}}
{{#if pull}} ${prefix}col-pull-{{pull}}{{/if}}
{{#if push}} ${prefix}col-push-{{push}}{{/if}}
{{#if responsiveClass}} {{responsiveClass}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}
>
  <slot />
</div>