<div class="${prefix}row
{{#if gutter}} ${prefix}row-gutter{{/if}}
{{#if type}} ${prefix}row-{{type}}{{/if}}
{{#if justify}} ${prefix}row-justify-{{justify}}{{/if}}
{{#if align}} ${prefix}row-align-{{align}}{{/if}}
{{#if className}} {{className}}{{/if}}"

style="{{inlineStyle}}"
>
  <slot />
</div>