<div class="${prefix}row
{{#if !autoWrap}} ${prefix}row-no-wrap{{/if}}
{{#if breakpoint}} ${prefix}row-{{breakpoint}}{{/if}}
{{#if justify}} ${prefix}row-justify-{{justify}}{{/if}}
{{#if align}} ${prefix}row-align-{{align}}{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}
>
  <slot />
</div>