<div 
class="${prefix}notice ${prefix}notice-{{type}}
  {{#if isShow}} ${prefix}show{{/if}}
" 
style="width: {{width}}px;
  {{#if rightSize}}right: {{rightSize}}px;{{/if}}
">

  <div class="${prefix}notice-title">
    {{title}}
  </div>

  <div class="${prefix}notice-desc">
    {{content}}
  </div>

  {{#if duration == 0}}
    <Icon name="close" className="${prefix}notice-close" on-click="close()" />
  {{/if}}

</div>