<div
class="${prefix}notice
{{#if type}} ${prefix}notice-{{type}}{{/if}}"

style="width: {{width}}px;right: {{right}}px;"
>

  {{#if title}}
    <div class="${prefix}notice-title">
      {{title}}
    </div>
  {{/if}}

  {{#if content}}
    <div class="${prefix}notice-content">
      {{content}}
    </div>
  {{/if}}

  {{#if duration == 0}}
    <Icon
      name="close"
      size="0"
      className="${prefix}notice-close"
      on-click.native="hide()"
    />
  {{/if}}

</div>