<div class="${prefix}list
{{#if size}} ${prefix}list-{{size}}{{/if}}

{{#if simple}} ${prefix}list-simple
{{else}} ${prefix}list-bordered
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  {{#if hasSlot('header')}}
    <div class="${prefix}list-header">
      <slot name="header" />
    </div>
    <div class="${prefix}list-body">
      <slot>
        <ListEmpty>
          <slot name="empty" />
        </ListEmpty>
      </slot>
    </div>
  {{else}}
    <slot>
      <ListEmpty>
        <slot name="empty" />
      </ListEmpty>
    </slot>
  {{/if}}

  {{#if loading}}
    <Spin size="large" fixed />
  {{/if}}

</div>