<div
class="${prefix}image-picker
{{#if !supportFlexGap}} ${prefix}image-picker-legacy{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <div
    ref="imagePickerList"
    class="${prefix}image-picker-items-wrapper"
  >
    {{#each imageList:index}}
      <div
        key="{{this.id}}"
        draggable="{{~/canDraggable}}"
        on-mouseenter="handleMouseEnter(index)"
        on-mouseleave="handleMouseLeave(index)"
        {{#if ~/canDraggable}}
          on-dragstart="handleDragStart(index)"
          on-dragend="handleDragEnd()"
          on-dragover="handleDragOver(index)"
          on-dragenter="handleDragEnter(index)"
          on-dragleave="handleDragLeave(index)"
          on-drop="handleDragDrop(index)"
        {{/if}}
        class="${prefix}image-picker-item ${prefix}image-picker-card"
        style="{{~/imageStyle}}"
      >

        {{#if this.url || this.base64}}
          <img
            draggable="false"
            class="${prefix}image-picker-image"
            {{#if this.url}}
              src="{{~/formatImageUrl ? ~/formatImageUrl({ url: this.url, width: ~/customImageWidth, height: ~/customImageHeight, responsive: true }) : this.url}}"
            {{else if this.base64}}
              src="{{this.base64}}"
            {{/if}}
            {{#if this.name}}
              alt="{{this.name}}"
            {{/if}}
            {{#if ~/draggingIndex < 0}}
              on-click="handleImageClick(this, index)"
            {{/if}}
          >
        {{else if this.name}}
          <div class="${prefix}image-picker-image-name">
            {{this.name}}
          </div>
        {{/if}}

        {{#if this.status === ~/STATUS_UPLOADING}}
          <div
            class="${prefix}image-picker-mask"
          >
            <Circle percent="{{this.progress > 0 ? this.progress * 100 : 0}}" size="60">
              上传中
            </Circle>
          </div>
        {{else}}
          {{#if this.status === ~/STATUS_ERROR || this.status == ~/STATUS_FAILURE}}
            <Upload
              draggable
              ref="reupload"
              index="{{index}}"
              className="${prefix}image-picker-mask"
              accept="{{accept}}"
              beforeUpload="{{beforeReuploadImage}}"
            >
              <div class="${prefix}image-picker-message">
                {{{this.message}}}
              </div>
              <div class="${prefix}image-picker-action">
                重新上传
              </div>
            </Upload>
          {{else if this.size > 0}}
            <div class="${prefix}image-picker-image-size">
              {{formatFileSize(this.size)}}
            </div>
          {{/if}}
          {{#if !~/readOnly && ~/draggingIndex < 0}}
            <Icon
              className="${prefix}image-picker-remove-icon"
              name="close-circle-fill"
              on-click.native="removeItem(index)"
            />
          {{/if}}
        {{/if}}

      </div>
    {{/each}}

    {{#if !readOnly && restCount > 0}}
      <Upload
        draggable
        ref="upload"
        className="${prefix}image-picker-item"
        multiple="{{restCount > 1}}"
        accept="{{accept}}"
        beforeUpload="{{beforeUploadImage}}"
        style="{{~/imageStyle}}"
      >
        <Add
          width="{{~/imageWidth}}"
          height="{{~/imageHeight}}"
        >
          {{#if isVideoPicker}}
            上传视频
          {{else}}
            上传图片
          {{/if}}
        </Add>
      </Upload>
    {{/if}}
  </div>

  {{#if extra}}
    <div class="${prefix}image-picker-extra">
      {{extra}}
    </div>
  {{/if}}

</div>