<div
class="${prefix}image-picker
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <div
    ref="imagePickerList"
    class="${prefix}image-picker-items-wrapper"
  >
    {{#each imageList:index}}
      <div
        on-mouseenter="handleMouseEnter(index)"
        on-mouseleave="handleMouseLeave(index)"
        draggable="{{canDraggable}}"
        on-dragstart="handleDragStart(index)"
        on-dragend="handleDragEnd()"
        on-dragover="handleDragOver(index)"
        on-dragenter="handleDragEnter(index)"
        on-dragleave="handleDragLeave(index)"
        on-drop="handleDragDrop(index)"
        class="${prefix}image-picker-item ${prefix}image-picker-card"

        style="{{ {
          width: ~/customImageWidth + 'px',
          height: ~/customImageHeight + 'px'

        } }}"
      >

        {{#if this.url || this.base64}}
          <img
            draggable="{{canDraggable}}"
            class="${prefix}image-picker-image"
            {{#if this.url}}
              src="{{~/formatImageUrl ? ~/formatImageUrl({ url: this.url, width: ~/customImageWidth, height: ~/customImageHeight, responsive: true }) : this.url}}"
            {{else if this.base64}}
              src="{{this.base64}}"
            {{/if}}
            {{#if this.name}}
              alt="{{this.name}}"
            {{/if}}
            {{#if ~/draggingIndex < 0}}
              on-click="handleImageClick(this, index)"
            {{/if}}
          >
        {{/if}}

        {{#if this.status === STATUS_UPLOADING}}
          <div class="${prefix}image-picker-mask">
            <Circle percent="{{this.progress > 0 ? this.progress * 100 : 0}}" size="60">
              上传中
            </Circle>
          </div>
        {{else}}
          {{#if this.status === STATUS_ERROR}}
            <div class="${prefix}image-picker-mask">
              <Circle percent="{{this.progress > 0 ? this.progress * 100 : 0}}" size="60" strokeColor="#ff5500">
                <Icon
                  name="close-line"
                  size="30"
                  color="#ff5500"
                />
              </Circle>
            </div>
          {{else if this.size > 0}}
            <div class="${prefix}image-picker-image-size">
              {{formatImageSize(this.size)}}
            </div>
          {{/if}}
          {{#if !readOnly && draggingIndex < 0}}
            <Icon
              className="${prefix}image-picker-remove-icon"
              name="close-circle-fill"
              on-click.native="removeItem(index)"
            />
          {{/if}}
        {{/if}}

      </div>
    {{/each}}

    {{#if !readOnly && imageList.length < maxCount}}
      <Upload
        ref="upload"
        className="${prefix}image-picker-item ${prefix}image-picker-append"
        multiple="{{restCount > 1}}"
        accept="{{accept}}"
        beforeUpload="{{beforeUploadImage}}"
        style="{{ {
          width: customImageWidth + 'px',
          height: customImageHeight + 'px'
        } }}"
      >
        <Icon
          className="${prefix}image-picker-append-icon"
          name="add-line"
        />
      </Upload>
    {{/if}}
  </div>

  {{#if extra}}
    <div class="${prefix}image-picker-extra">
      {{extra}}
    </div>
  {{/if}}

</div>