<div class="${prefix}slider

{{#if vertical}} ${prefix}slider-vertical
{{else}} ${prefix}slider-horizontal
{{/if}}

{{#if disabled}} ${prefix}slider-disabled
{{else}} ${prefix}slider-enabled
{{/if}}

{{#if block}} ${prefix}slider-block{{/if}}

{{#if thumbIsDragging}} ${prefix}slider-dragging{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if width || height || style}}
  style="
  {{#if width}}width:{{width}}px;{{/if}}
  {{#if height}}height:{{height}}px;{{/if}}
  {{#if style}}{{style}}{{/if}}"
{{/if}}
>

  <div
    class="${prefix}slider-track"
    {{#if !disabled}}
      on-click="trackClick.slider"
    {{/if}}
  >

    <div
      class="${prefix}slider-bar"
      style="
      {{#if vertical}}
        height: {{percent}}%;
      {{else}}
        width: {{percent}}%;
      {{/if}}"
    >
    </div>

    {{#if showStops}}
      {{#each stops}}
        <div
          key="{{this}}"
          class="${prefix}slider-stop"
          style="
          {{#if vertical}}
            bottom: {{this}}%;
          {{else}}
            left: {{this}}%;
          {{/if}}"
        >
        </div>
      {{/each}}
    {{/if}}

    <Tooltip
      ref="tooltip"
      placement="{{vertical ? RAW_RIGHT : RAW_TOP}}"
      content="{{formatTooltip ? formatTooltip(value) : value}}"
      mode="{{RAW_CUSTOM}}"
    >
      <div
        class="${prefix}slider-thumb"
        style="
        {{#if vertical}}
          bottom: {{percent}}%;
        {{else}}
          left: {{percent}}%;
        {{/if}}"

        on-mouseenter="thumbMouseEnter.slider"
        on-mouseleave="thumbMouseLeave.slider"
        lazy-mouseenter="200"
        lazy-mouseleave="200"

        {{#if !disabled}}
          on-mousedown="thumbMouseDown.slider"
        {{/if}}

      >
      </div>
    </Tooltip>
  </div>

</div>