<div
class="${prefix}select-option

{{#if disabled}} ${prefix}select-option-disabled
{{else}} ${prefix}select-option-enabled
{{/if}}

{{#if isSelected}} ${prefix}select-option-active{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if text}}
  title="{{text}}"
{{/if}}

{{#if !disabled}}
  on-click="onClick()"
{{/if}}
>
  <slot>
    {{text}}
  </slot>
</div>