
<Popover
  ref="popover"
  placement="{{placement}}"
  trigger="{{RAW_CUSTOM}}"
  visible="{{visible}}"
  gap="5"
  on-outside="handleOutsideClick()"
  widthAlign
>

  <div
    class="${prefix}select
    {{#if status}} ${prefix}select-{{status}}{{/if}}
    {{#if size}} ${prefix}select-{{size}}{{/if}}
    {{#if block}} ${prefix}select-block{{/if}}
    {{#if visible}} ${prefix}select-opened{{/if}}
    {{#if clearable}} ${prefix}select-clearable{{/if}}
    {{#if placement === RAW_TOP}} ${prefix}select-reversed{{/if}}
    {{#if disabled}} ${prefix}select-disabled
    {{else}} ${prefix}select-enabled
    {{/if}}
    {{#if prefix || hasSlot('prefix')}} ${prefix}select-with-prefix{{/if}}
    {{#if className}} {{className}}{{/if}}"

    {{#if !disabled}}
      on-click="toggle('visible')"
    {{/if}}

    {{#if width || style}}
      style="{{#if width}}width: {{width}}px;{{/if}}
      {{#if style}}{{style}}{{/if}}"
    {{/if}}
  >

    {{#if prefix || hasSlot('prefix')}}
      <div class="${prefix}select-prefix">
        <slot name="prefix">
          <Icon
            name="{{prefix}}"
            size="0"
            className="${prefix}select-prefix-icon"
          />
        </slot>
      </div>
    {{/if}}

    {{#if selectedOptions.length === 0}}

      <div class="${prefix}select-placeholder">
        {{placeholder}}
      </div>

    {{else if multiple}}

      <div class="${prefix}select-values">
        {{#each selectedOptions:index}}
          <Tag
            simple
            closable
            on-close="handleRemoveOption($event, index)"
          >
            {{this.text}}
          </Tag>
        {{/each}}
      </div>

    {{else}}

      <div class="${prefix}select-value">
        {{selectedOptions[0].text}}
      </div>

    {{/if}}

    {{#if clearable && selectedOptions.length}}
      <Icon
        name="close-circle-fill"
        size="0"
        className="${prefix}select-clear-icon"
        on-click.native="handleClearClick()"
      />
    {{/if}}

    <Icon
      name="arrow-down-s-line"
      size="0"
      className="${prefix}select-arrow-icon"
    />

  </div>

  <div
    slot="overlay"
    class="${prefix}select-overlay"
  >
    <slot name="children" />
  </div>

</Popover>