
<Popover
  placement="{{placement}}"
  trigger="{{RAW_CUSTOM}}"
  visible="{{isVisible}}"
  triggerMutable="{{multiple}}"
  gap="5"
  widthAlign
>

  <div
    class="${prefix}select
    {{#if status}} ${prefix}select-{{status}}{{/if}}
    {{#if size}} ${prefix}select-{{size}}{{/if}}
    {{#if block}} ${prefix}select-block{{/if}}
    {{#if isVisible}} ${prefix}select-opened{{/if}}
    {{#if showClear}} ${prefix}select-with-clear{{/if}}
    {{#if placement === RAW_TOP}} ${prefix}select-reversed{{/if}}
    {{#if disabled}} ${prefix}select-disabled
    {{else}} ${prefix}select-enabled
    {{/if}}
    {{#if prefix || @prefix}} ${prefix}select-with-prefix{{/if}}
    {{#if className}} {{className}}{{/if}}"

    {{#if !disabled}}
      tabindex="0"
      on-click="onClick()"
      on-focus="set('isFocus', true)"
      on-blur="set('isFocus', false)"
    {{/if}}

    {{#if inlineStyle}}
      style="{{inlineStyle}}"
    {{/if}}
  >

    {{#if prefix || @prefix}}
      <div class="${prefix}select-prefix">
        <slot name="prefix">
          <Icon
            name="{{prefix}}"
            className="${prefix}select-prefix-icon"
          />
        </slot>
      </div>
    {{/if}}

    {{#if selectedOptions.length === 0}}

      <div class="${prefix}select-placeholder">
        {{placeholder}}
      </div>

    {{else if multiple}}

      <div class="${prefix}select-values">
        {{#each selectedOptions:index}}
          <Tag
            closable
            on-close="onOptionRemove($event, index)"
          >
            {{this.text}}
          </Tag>
        {{/each}}
      </div>

    {{else}}

      <div
        class="${prefix}select-value"
        title="{{selectedOptions[0].text}}"
      >
        {{selectedOptions[0].text}}
      </div>

    {{/if}}

    {{#if showClear && selectedOptions.length}}
      <Icon
        name="close-circle-fill"
        className="${prefix}select-clear-icon"
        on-click.native="onClearClick()"
      />
    {{/if}}

    <Icon
      name="arrow-down-s-line"
      className="${prefix}select-arrow-icon"
    />

  </div>

  <div
    slot="overlay"
    class="${prefix}select-overlay"
  >
    {{#if options}}
      {{#each options}}
        <Option
          text="{{this.text}}"
          value="{{this.value}}"
          disabled="{{this.disabled}}"
        />
      {{else}}
        <Empty simple>
          暂无数据
        </Empty>
      {{/each}}
    {{else}}
      <slot>
        <Empty simple>
          暂无数据
        </Empty>
      </slot>
    {{/if}}
  </div>

</Popover>