<div
class="${prefix}datepicker-daterange
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div class="${prefix}datepicker-header">
    <span class="${prefix}datepicker-header-button" on-click="startPrevYear()">
      <Icon name="arrow-back" />
      <Icon name="arrow-back" />
    </span>

    <span class="${prefix}datepicker-header-button" on-click="startPrevMonth()">
      <Icon name="arrow-back" />
    </span>

    <span
      class="${prefix}text-medium
      {{#if !splitPanel}} ${prefix}datepicker-header-month{{/if}}"
    >
      {{startModeDateYear}} 年 {{startModeDateMonth}} 月
    </span>

    {{#if splitPanel}}
      <span class="${prefix}datepicker-header-button" on-click="startNextMonth()">
        <Icon name="arrow-forward" />
      </span>

      <span class="${prefix}datepicker-header-button" on-click="startNextYear()">
        <Icon name="arrow-forward" />
        <Icon name="arrow-forward" />
      </span>

      <span class="${prefix}datepicker-header-button" on-click="endPrevYear()">
        <Icon name="arrow-back" />
        <Icon name="arrow-back" />
      </span>

      <span class="${prefix}datepicker-header-button" on-click="endPrevMonth()">
        <Icon name="arrow-back" />
      </span>
    {{/if}}

    <span class="${prefix}text-medium">
      {{endModeDateYear}} 年 {{endModeDateMonth}} 月
    </span>

    <span class="${prefix}datepicker-header-button" on-click="endNextMonth()">
      <Icon name="arrow-forward" />
    </span>

    <span class="${prefix}datepicker-header-button" on-click="endNextYear()">
      <Icon name="arrow-forward" />
      <Icon name="arrow-forward" />
    </span>
  </div>

  <div class="${prefix}datepicker-daterange-wrapper">
    <div class="${prefix}datepicker-body">
      <div class="${prefix}datepicker-weeks">
        {{#each weeks}}
          <span class="${prefix}datepicker-col ${prefix}text-sub">
            {{this}}
          </span>
        {{/each}}
      </div>
      <div class="${prefix}datepicker-days">
        {{#each startModeList:key}}
          <div class="${prefix}datepicker-row">
            {{#each this:index}}
              <span
                class="{{#if isCurrentMonth && !disabled}}
                  ${prefix}datepicker-col-current-month
                {{else if disabled}}
                  ${prefix}datepicker-col-disabled
                {{/if}} ${prefix}datepicker-col
                {{#if isCurrentMonth}} ${prefix}datepicker-col-current-month{{/if}}
                {{#if isPrevMonth}} ${prefix}datepicker-col-prev-month{{/if}}
                {{#if isLastMonth}} ${prefix}datepicker-col-last-month{{/if}}
                {{#if isCurrentMonth && isCheckedDate}} ${prefix}datepicker-col-checked{{/if}}
                {{#if isCurrentMonth && isRangeDate}} ${prefix}datepicker-col-range{{/if}}
              "
              {{#if isCurrentMonth && !disabled}} on-click="click(this)"{{/if}}
                on-mouseover="hover(this)"
              >
                {{date}}
              </span>
            {{/each}}
          </div>
        {{/each}}
    </div>
  </div>
    <div class="${prefix}datepicker-body">
      <div class="${prefix}datepicker-weeks">
        {{#each weeks}}
          <span class="${prefix}datepicker-col ${prefix}text-sub">
            {{this}}
          </span>
        {{/each}}
      </div>
      <div class="${prefix}datepicker-days">
        {{#each endModeList:key}}
          <div class="${prefix}datepicker-row">
            {{#each this:index}}
              <span
                class="${prefix}datepicker-col
                {{#if isCurrentMonth && !disabled}} ${prefix}datepicker-col-current-month
                {{else if disabled}} ${prefix}datepicker-col-disabled
                {{/if}}
                {{#if isCurrentMonth}} ${prefix}datepicker-col-current-month{{/if}}
                {{#if isPrevMonth}} ${prefix}datepicker-col-prev-month{{/if}}
                {{#if isLastMonth}} ${prefix}datepicker-col-last-month{{/if}}
                {{#if isCurrentMonth && isCheckedDate}} ${prefix}datepicker-col-checked{{/if}}
                {{#if isCurrentMonth && isRangeDate}} ${prefix}datepicker-col-range{{/if}}"

                {{#if isCurrentMonth && !disabled}}
                  on-click="click(this)"
                {{/if}}

                on-mouseover="hover(this)"
              >
                {{date}}
              </span>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>

</div>