{{#if type === RAW_TYPE_WEEK}}
  <div
  class="${prefix}datepicker-week ${prefix}datepicker-panel
  {{#if className}} {{className}}{{/if}}"

  {{#if style}}
    style="{{style}}"
  {{/if}}
  >

    <div class="${prefix}datepicker-header">
      <div class="${prefix}datepicker-prev">
        <span class="${prefix}datepicker-header-button" on-click="offset(-12)">
          <Icon
            name="arrow-left-s-fill"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>

        <span class="${prefix}datepicker-header-button" on-click="offset(-1)">
          <Icon
            name="arrow-left-s-line"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>
      </div>

      <span
        {{#if canPickYear}}
          class="${prefix}datepicker-header-link"
          on-click="set('type', RAW_TYPE_YEAR)"
        {{/if}}
      >
        {{date.year}} 年
      </span>
      <span
        {{#if canPickMonth}}
          class="${prefix}datepicker-header-link"
          on-click="set('type', RAW_TYPE_MONTH)"
        {{/if}}
      >
        {{date.month}} 月
      </span>

      <div class="${prefix}datepicker-next">
        <span class="${prefix}datepicker-header-button" on-click="offset(12)">
          <Icon
            name="arrow-right-s-line"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>

        <span class="${prefix}datepicker-header-button" on-click="offset(1)">
          <Icon
            name="arrow-right-s-fill"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>
      </div>
    </div>

    <div class="${prefix}datepicker-body">
      <div class="${prefix}datepicker-weeks">
        {{#each weeks}}
          <div class="${prefix}datepicker-col">
            {{this}}
          </div>
        {{/each}}
      </div>
      <div class="${prefix}datepicker-days">
        {{#each datasource}}
          <div
            class="${prefix}datepicker-row"
            on-click="click(this)"
          >
            {{#each this.list:index}}
              <div
                class="${prefix}datepicker-col

                {{#if isEnabled(this)}} ${prefix}datepicker-col-enabled
                {{else}} ${prefix}datepicker-col-disabled
                {{/if}}

                {{#if ../../checkedTimestamp >= ../start.timestamp
                  && ../../checkedTimestamp < ../end.timestamp}}
                  {{#if index === 0}} ${prefix}datepicker-col-checked ${prefix}datepicker-col-start
                  {{else if index === $length - 1}} ${prefix}datepicker-col-checked ${prefix}datepicker-col-end
                  {{else}} ${prefix}datepicker-col-range
                  {{/if}}
                {{/if}}
                "
              >
                <div class="${prefix}datepicker-text">
                  {{this.date}}
                </div>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>

  </div>
{{else if type === RAW_TYPE_YEAR}}
  <DateYear
    checkedYear="{{date.year}}"
  />
{{else if type === RAW_TYPE_MONTH}}
  <DateMonth
    checkedYear="{{date.year}}"
    checkedMonth="{{date.month}}"
  />
{{/if}}