<div 
class="${prefix}datepicker
{{#if className}} {{className}}{{/if}}
"
{{#if style}} style="{{style}}"{{/if}}
>

  <Dropdown height="{{autoClose ? 230 : 320}}" 
    className="${prefix}datepicker-dropdown" 
    placement="{{placement}}" 
    trigger="custom" 
    visible="{{isOpen}}"
  >

    <div class="${prefix}datepicker-el">
      <slot name="children">
        <Input placeholder="请选择日期..."
          model="formatDate"
          type="input"
          size="{{size}}"
          on-focus="focus()"
          suffix="calendar"
          clearable="{{clearable}}"
        />
      </slot>
    </div>

    <template slot="list">

      {{#if shortcuts}}
      <div class="${prefix}datepicker-sidebar">
        {{#each shortcuts}}
          <div class="${prefix}datepicker-shortcut" on-click="shortcutClick(this)">
            {{text}}
          </div>
        {{/each}}
      </div>
      {{/if}}

      <div class="${prefix}datepicker-poper
        {{#if shortcuts}} ${prefix}datepicker-poper-with-sidebar{{/if}}
      ">
        {{#if type == 'date'}}
          <Date multiple="{{multiple}}" 
            startDate="{{startDate}}" 
            {{#if multiple}}
              selected="{{value}}"
            {{else}}
              value="{{value}}"
            {{/if}}
            disabledDate="{{disabledDate}}"
          />
        {{else if type == 'dateRange'}}
          <DateRange 
            splitPanel="{{splitPanel}}" 
            startDate="{{startDate}}" 
            value="{{value}}"
            disabledDate="{{disabledDate}}"
          />
        {{else if type == 'week'}}
          <DateWeek 
            startDate="{{startDate}}"
            value="{{value}}"  
          />
        {{else if type == 'year'}}
          <DateYear
            startDate="{{startDate}}"
            value="{{value}}"   
          />
        {{else if type == 'month'}}
          <DateMonth 
            startDate="{{startDate}}"
            value="{{value}}"   
          />
        {{/if}}
      </div>

      {{#if autoClose}}
      <div class="${prefix}datepicker-confirm">
        <Button size="small" type="primary" on-click="ok()">
          确认
        </Button>
        <Button size="small" on-click="clear()">
          清空
        </Button>
      </div>
      {{/if}}
    </template>

  </Dropdown>

</div>

