<Dropdown
  trigger="custom"
  visible="{{visible}}"
  placement="{{placement}}"
  on-outside="set('visible', false)"
  className="${prefix}datepicker

  {{#if status}} ${prefix}datepicker-{{status}}{{/if}}
  {{#if size}} ${prefix}datepicker-{{size}}{{/if}}

  {{#if disabled}} ${prefix}datepicker-disabled
  {{else}} ${prefix}datepicker-enabled
  {{/if}}

  {{#if clearable}} ${prefix}datepicker-clearable{{/if}}

  {{#if className}} {{className}}{{/if}}"

  {{#if width || style}}
    style="{{#if width}}width: {{width}}px{{/if}};
    {{#if style}}{{style}}{{/if}}"
  {{/if}}
>

  <div
    class="${prefix}datepicker-button"

    {{#if !disabled}}
      on-click="toggle('visible')"
    {{/if}}
  >

    {{#if formatedValues.length > 0}}

      {{#if multiple && type !== RAW_TYPE_DATE_RANGE && type !== RAW_TYPE_WEEK}}

        <div class="${prefix}datepicker-values">
          {{#each formatedValues:index}}
            <Tag
              simple
              closable
              size=""
              on-close="handleRemoveItem($event, index)"
            >
              {{this}}
            </Tag>
          {{/each}}
        </div>

      {{else}}

        <div class="${prefix}datepicker-value">
          {{formatedValues[0]}}

          <!-- week 和 daterange -->
          {{#if formatedValues[1]}}
            <span class="${prefix}datepicker-separator">
              ~
            </span>
            {{formatedValues[1]}}
          {{/if}}
        </div>

      {{/if}}

    {{else}}

      <div class="${prefix}datepicker-placeholder">
        {{placeholder}}
      </div>

    {{/if}}

    {{#if clearable && formatedValues.length}}
      <Icon
        name="close-circle"
        size="0"
        className="${prefix}datepicker-clear-icon"
        on-click.native="handleClearClick()"
      />
    {{/if}}

    <Icon
      name="calendar"
      size="0"
      className="${prefix}datepicker-calendar-icon"
    />

  </div>

  <template slot="list">

    {{#if shortcuts && shortcuts.length > 0}}
      <div class="${prefix}datepicker-shortcut">
        {{#each shortcuts}}
          <div
            class="${prefix}datepicker-shortcut-item"
            on-click="handleShortcutClick(this)"
          >
            {{this.text}}
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#if type === RAW_TYPE_DATE}}
      <DateView
        defaultDate="{{defaultSimpleDate.timestamp}}"
        checkedDate="{{value}}"
        disabledDate="{{disabledDate}}"
        canPickYear
        canPickMonth
      />
    {{else if type === RAW_TYPE_DATE_RANGE}}
      <DateRange
        splitPanel="{{splitPanel}}"
        defaultStartDate="{{defaultSimpleDate.timestamp}}"
        checkedStartDate="{{value[0]}}"
        defaultEndDate="{{defaultSimpleDate.timestamp}}"
        checkedEndDate="{{value[1]}}"
        disabledDate="{{disabledDate}}"
      />
    {{else if type === RAW_TYPE_WEEK}}
      <DateWeek
        defaultDate="{{defaultSimpleDate.timestamp}}"
        checkedDate="{{value[0]}}"
        canPickYear
        canPickMonth
      />
    {{else if type === RAW_TYPE_YEAR}}
      <DateYear
        defaultDate="{{defaultSimpleDate.timestamp}}"
        checkedDate="{{value}}"
      />
    {{else if type === RAW_TYPE_MONTH}}
      <DateMonth
        defaultDate="{{defaultSimpleDate.timestamp}}"
        checkedDate="{{value}}"
        canPickYear
      />
    {{/if}}

  </template>

</Dropdown>