<div
class="${prefix}datepicker-date
{{#if className}} {{className}}{{/if}}"

{{#if style}} {{style}}{{/if}}
>

  <div class="${prefix}datepicker-header">
    <span class="${prefix}datepicker-header-button" on-click="this.changeDateList(-12)">
      <Icon name="arrow-back" />
      <Icon name="arrow-back" />
    </span>

    <span class="${prefix}datepicker-header-button" on-click="this.changeDateList(-1)">
      <Icon name="arrow-back" />
    </span>

    <span class="${prefix}text-medium">
      {{modeDate.year}} 年 {{modeDate.month}} 月
    </span>

    <span class="${prefix}datepicker-header-button" on-click="this.changeDateList(1)">
      <Icon name="arrow-forward" />
    </span>

    <span class="${prefix}datepicker-header-button" on-click="this.changeDateList(12)">
      <Icon name="arrow-forward" />
      <Icon name="arrow-forward" />
    </span>
  </div>

  <div class="${prefix}datepicker-body">
    <div class="${prefix}datepicker-weeks">
      {{#each weeks}}
        <span class="${prefix}datepicker-col">
          {{this}}
        </span>
      {{/each}}
    </div>
    <div class="${prefix}datepicker-days">
      {{#each dateList:index}}
        <div class="${prefix}datepicker-row">
          {{#each this:index}}
            <div
              class="{{#if isCurrentMonth && !disabled}}
                ${prefix}datepicker-col-current-month
              {{else if disabled}}
                ${prefix}datepicker-col-disabled
              {{/if}} ${prefix}datepicker-col
              {{#if isPrevMonth}} ${prefix}datepicker-col-prev-month{{/if}}
              {{#if isLastMonth}} ${prefix}datepicker-col-last-month{{/if}}
              {{#if isCurrentDate}} ${prefix}datepicker-col-checked{{/if}}
            "
            {{#if isCurrentMonth && !disabled}} on-click="click(this)"{{/if}}
            >
              {{date}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
</div>