<label
class="${prefix}radio

{{#if disabled}} ${prefix}radio-disabled
{{else}} ${prefix}radio-enabled
{{/if}}

{{#if checked}} ${prefix}radio-active{{/if}}
{{#if isFocus}} ${prefix}radio-focus{{/if}}
{{#if hasSlot('children')}} ${prefix}radio-with-label{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if !disabled}}
  on-click="set('checked', true)"
{{/if}}
>

  <span class="${prefix}radio-icon">
    <input
      class="${prefix}radio-input"
      type="radio"
      {{#if name}}
        name="{{name}}"
      {{/if}}
      value="{{value}}"
      disabled="{{disabled}}"
      on-focus="set('isFocus', true)"
      on-blur="set('isFocus', false)"
    >
  </span>

  <slot name="children" />

</label>