<button
class="${prefix}button

{{#if type}} ${prefix}button-{{type}}{{/if}}
{{#if size}} ${prefix}button-{{size}}{{/if}}
{{#if shape}} ${prefix}button-{{shape}}{{/if}}
{{#if ghost}} ${prefix}button-ghost{{/if}}
{{#if loading}} ${prefix}button-loading{{/if}}

{{#if disabled}} ${prefix}button-disabled
{{else}} ${prefix}button-enabled
{{/if}}

{{#if block}} ${prefix}button-block{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if disabled}}
  disabled
{{else if !loading}}
  on-click="click.button"
{{/if}}

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <slot name="prefix">
    {{#if loading}}
      <Icon
        spin
        name="loader-5-line"
        className="${prefix}button-loading-icon"
      />
    {{/if}}
  </slot>

  {{#if @children}}
    {{#if loading || @prefix || @suffix}}
      <span>
        <slot />
      </span>
    {{else}}
      <slot />
    {{/if}}
  {{/if}}

  <slot name="suffix" />

</button>