<Input
  ref="input"
  className="{{customClassName}}"
  status="{{status}}"
  size="{{size}}"
  block="{{block}}"
  placeholder="{{placeholder}}"
  value="{{value}}"
  disabled="{{disabled}}"
  autoFocus="{{autoFocus}}"
  readOnly="{{readOnly}}"
  width="{{width}}"
  style="{{style}}"
  on-focus="handleFocus()"
  on-blur="handleBlur()"
  on-input="handleInput()"
  on-keyup="handleKeyup()"
  on-enter="handleEnter()"
  on-up="handleUp()"
  on-down="handleDown()"
  on-compositionstart="handleCompositionStart()"
  on-compositionend="handleCompositionEnd()"
>
  <input
    ref="numberInput"
    type="number"
    class="${prefix}input-number-el"
    step="{{step}}"
    min="{{min}}"
    max="{{max}}"
    value="{{value}}"
  >

  {{#if showStep}}
    <div class="${prefix}input-number-actions">
      <div
        {{#if upDisabled}}
          class="${prefix}input-number-up ${prefix}input-number-up-disabled"
        {{else}}
          class="${prefix}input-number-up ${prefix}input-number-up-enabled"
          on-click="handleUp()"
        {{/if}}
      >
        <Icon
          name="arrow-up-s-line"
          className="${prefix}input-number-up-icon"
        />
      </div>
      <div
        {{#if downDisabled}}
          class="${prefix}input-number-down ${prefix}input-number-down-disabled"
        {{else}}
          class="${prefix}input-number-down ${prefix}input-number-down-enabled"
          on-click="handleDown()"
        {{/if}}
      >
        <Icon
          name="arrow-down-s-line"
          className="${prefix}input-number-down-icon"
        />
      </div>
    </div>
  {{/if}}

  <template slot="prepend">
    <slot name="prepend" />
  </template>
  <template slot="append">
    <slot name="append" />
  </template>
</Input>