<Input
  ref="input"
  type="number"
  className="{{customClassName}}"
  status="{{status}}"
  size="{{size}}"
  block="{{block}}"
  step="{{step}}"
  min="{{min}}"
  max="{{max}}"
  placeholder="{{placeholder}}"
  value="{{value}}"
  disabled="{{disabled}}"
  autoFocus="{{autoFocus}}"
  readOnly="{{readOnly}}"
  width="{{width}}"
  style="{{style}}"
  on-focus="handleFocus()"
  on-blur="handleBlur()"
  on-enter="handleEnter()"
>
  {{#if showButton}}
    <div class="${prefix}input-number-actions">
      <div
        {{#if upDisabled}}
          class="${prefix}input-number-up ${prefix}input-number-up-disabled"
        {{else}}
          class="${prefix}input-number-up ${prefix}input-number-up-enabled"
          on-click="up"
        {{/if}}
      >
        <Icon
          name="arrow-up-s-line"
          size="0"
          className="${prefix}input-number-up-icon"
        />
      </div>
      <div
        {{#if downDisabled}}
          class="${prefix}input-number-down ${prefix}input-number-down-disabled"
        {{else}}
          class="${prefix}input-number-down ${prefix}input-number-down-enabled"
          on-click="down"
        {{/if}}
      >
        <Icon
          name="arrow-down-s-line"
          size="0"
          className="${prefix}input-number-down-icon"
        />
      </div>
    </div>
  {{/if}}

  <template slot="prepend">
    <slot name="prepend" />
  </template>
  <template slot="append">
    <slot name="append" />
  </template>
</Input>