<Dialog
  showMask
  ref="dialog"
  width="{{width}}"
  title="{{title}}"
  maskClosable="{{false}}"
  closable="{{closable}}"
  className="${prefix}modal"
>

  <template slot="content">
    {{content}}
  </template>

  <Button
    slot="footer"
    type="{{okType}}"
    on-click="ok()"
  >
    {{okText}}
  </Button>

</Dialog>
