<Dialog
  showMask
  ref="dialog"
  width="{{width}}"
  maskClosable="{{false}}"
  className="${prefix}modal ${prefix}modal-confirm
  {{#if title}} ${prefix}modal-with-title{{/if}}"
>

  <div class="${prefix}modal-indicator">
    <Icon
      slot="icon"
      name="{{iconName}}"
      className="${prefix}modal-indicator-icon"
    />
  </div>

  {{#if title}}
    <div class="${prefix}modal-title">
      {{title}}
    </div>
  {{/if}}

  <div class="${prefix}modal-content">
    {{content}}
  </div>

  <div class="${prefix}modal-footer">
    <Button
      autoFocus
      type="{{cancelType}}"
      on-click="cancel()"
    >
      {{cancelText}}
    </Button>
    <Button
      type="{{okType}}"
      on-click="ok()"
    >
      {{okText}}
    </Button>
  </div>

</Dialog>