<div
class="${prefix}dropdown ${prefix}dropdown-{{placement}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div
    class="${prefix}dropdown-trigger"
    {{#if trigger === RAW_CLICK}}
      on-click="toggleVisible()"
    {{else if trigger === RAW_HOVER}}
      on-mouseenter="enter()"
      on-mouseleave="leave()"
    {{/if}}
  >
    <slot name="children" />
  </div>

  <div
    ref="overlay"
    class="${prefix}dropdown-overlay"
    {{#if height > 0}}
      style="max-height: {{height}}px;"
    {{/if}}

    {{#if trigger === RAW_HOVER}}
      on-mouseenter="enter()"
      on-mouseleave="leave()"
    {{/if}}
  >
    <slot name="overlay" />
  </div>

</div>