<div
class="${prefix}input
{{#if size}} ${prefix}input-{{size}}{{/if}}
{{#if status}} ${prefix}input-{{status}}{{/if}}
{{#if block}} ${prefix}input-block{{/if}}
{{#if isFocus}} ${prefix}input-focused{{/if}}
{{#if disabled}} ${prefix}input-disabled
{{else}} ${prefix}input-enabled
{{/if}}

{{#if !value}} ${prefix}input-no-value
{{else}} ${prefix}input-has-value
{{/if}}

{{#if hasSlot('prepend')}} ${prefix}input-with-prepend{{/if}}
{{#if hasSlot('append')}} ${prefix}input-with-append{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if width || style}}
  style="{{[
    width
      ? { width: width + 'px' }
      : undefined,
    style
  ]}}"
{{/if}}
>

  {{#if hasSlot('prepend')}}
    <div class="${prefix}input-prepend">
      <slot name="prepend" />
    </div>
  {{/if}}

  <div class="${prefix}input-content">

    <input
      ref="input"
      type="{{currentType}}"
      model="value"
      class="${prefix}input-el
      {{#if prefix}} ${prefix}input-el-with-prefix{{/if}}
      {{#if hasCount || suffix || secure || clearable && !disabled}} ${prefix}input-el-with-suffix{{/if}}
      {{#if hasSlot('prepend')}} ${prefix}input-el-with-prepend{{/if}}
      {{#if hasSlot('append')}} ${prefix}input-el-with-append{{/if}}"

      {{#if maxLength}}
        maxlength="{{maxLength}}"
      {{/if}}

      {{#if placeholder}}
        placeholder="{{placeholder}}"
      {{/if}}

      {{#if autoFocus}}
        autofocus
      {{/if}}

      {{#if readOnly}}
        readonly
      {{/if}}

      {{#if spellCheck}}
        spellcheck
      {{/if}}

      {{#if disabled}}
        disabled
      {{else}}
        on-focus="handleFocus()"
        on-blur="handleBlur()"
        on-input="input.input"
        on-compositionstart="compositionstart.input"
        on-compositionend="compositionend.input"
      {{/if}}

    >

    {{#if prefix}}
      <div class="${prefix}input-prefix ${prefix}input-prefix-icon-wrapper">
        <Icon
          name="{{prefix}}"
          className="${prefix}input-prefix-icon"
        />
      </div>
    {{/if}}

    {{#if hasCount}}
      <div class="${prefix}input-suffix ${prefix}input-suffix-text-wrapper">
        {{formatValueLength(value)}} / {{maxLength}}
      </div>
    {{else if suffix}}
      <div class="${prefix}input-suffix ${prefix}input-suffix-icon-wrapper">
        <Icon
          name="{{suffix}}"
          className="${prefix}input-suffix-icon"
        />
      </div>
    {{else if secure}}
      <div class="${prefix}input-suffix ${prefix}input-suffix-icon-wrapper ${prefix}input-secure" on-click="toggle('isSecure')">
        <Icon
          name="{{isSecure ? 'eye-close-line' : 'eye-line'}}"
          className="${prefix}input-secure-icon"
        />
      </div>
    {{else if clearable && !disabled}}
      <div class="${prefix}input-suffix ${prefix}input-suffix-icon-wrapper ${prefix}input-clear" on-click="handleClearClick()">
        <Icon
          name="close-circle-fill"
          className="${prefix}input-clear-icon"
        />
      </div>
    {{/if}}

    <slot />

  </div>

  {{#if hasSlot('append')}}
    <div class="${prefix}input-append">
      <slot name="append" />
    </div>
  {{/if}}

</div>