<div
class="${prefix}avatar
{{#if size}} ${prefix}avatar-{{size}}{{/if}}
{{#if circle}} ${prefix}avatar-circle{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if backgroundColor || style}}
  style="{{#if backgroundColor}}background-color: {{backgroundColor}};{{/if}}
  {{#if style}}{{style}}{{/if}}"
{{/if}}
>

  {{#if src}}
    <img
      class="${prefix}avatar-image"
      src="{{src}}"
      {{#if srcSet}}
        srcset="{{srcSet}}"
      {{/if}}
      {{#if alt}}
        alt="{{alt}}"
      {{/if}}
      loading="lazy"
      ondragstart="return false"
      on-error="error.avatar"
    >
  {{else if hasSlot('icon')}}
    <slot name="icon" />
  {{else if text}}
    <span
      ref="text"
      class="${prefix}avatar-text"
      {{#if color || fontSize}}
        style="{{#if color}}color: {{color}};{{/if}}
        {{#if fontSize}}font-size: {{fontSize}}px;{{/if}}"
      {{/if}}
    >
      {{text}}
    </span>
  {{/if}}

</div>