<div
class="${prefix}badge{{#if status}}-status{{/if}}
{{#if status || type}} ${prefix}badge-{{status || type}}{{/if}}
{{#if ripple}} ${prefix}badge-ripple{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  {{#if hasSlot('children')}}
    <div class="${prefix}badge-content">
      <slot name="children" />
    </div>
  {{/if}}

  {{#if !hidden}}

    {{#if dot}}
      <span class="${prefix}badge-dot"></span>
    {{/if}}

    {{#if text || isNumber(count)}}
      <span
        class="${prefix}badge-text
          {{#if hasSlot('children')}} ${prefix}badge-text-addon
          {{else}} ${prefix}badge-text-only{{/if}}"
      >
        {{text || formatText(count, max)}}
      </span>
    {{/if}}

  {{/if}}

</div>