<div
class="${prefix}badge{{#if status}}-status{{/if}}

{{#if status}} ${prefix}badge-status-{{status}}
{{else if type}} ${prefix}badge-{{type}}
{{/if}}

{{#if ripple}} ${prefix}badge-ripple{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <slot name="children" />

  {{#if !hidden}}

    {{#if dot}}
      <span class="${prefix}badge-dot"></span>
    {{/if}}

    {{#if text || isNumeric(count)}}
      <span
        ref="append"
        class="${prefix}badge-text
          {{#if hasSlot('children')}} ${prefix}badge-text-append{{/if}}"
      >
        {{text || formatText(count, max)}}
      </span>
    {{/if}}

  {{/if}}

</div>