<div
class="{{#if fixedLeftList.length || fixedRightList.length || height}}
${prefix}table-fixed
{{/if}}"

style="{{#if width}} width: {{width}}px; overflow-x: auto;{{/if}}"
>

  {{#if height}}
    <div class="${prefix}table-fixed-header">
      <SmallTable {{...this}} header/>
    </div>
  {{/if}}

  {{#if fixedLeftList.length}}
    <div class="${prefix}table-fixed-left">
      <SmallTable
        {{...this}}
        fixed
        columns="{{fixedLeftList}}"
        list="{{list}}"
      />
    </div>
  {{/if}}
  <div class="${prefix}table-insert{{#if height}} ${prefix}table-insert{{/if}}"{{#if height}}style="height: {{height}}px; overflow-y: auto;"{{/if}}>
    <SmallTable {{...this}} />
  </div>
  {{#if fixedRightList.length}}
    <div class="${prefix}table-fixed-right">
      <SmallTable
        {{...this}}
        fixed
        columns="{{fixedRightList}}"
        list="{{list}}"
      />
    </div>
  {{/if}}
</div>