<div
class="${prefix}table {{#if fixedLeftList.length || fixedRightList.length || height}}
${prefix}table-fixed
{{/if}}
"

style="
{{#if width}} width: {{width}}px; overflow-x: auto;{{/if}}
{{#if height}} height: {{height}};{{/if}}
"
>

  {{#if height}}
    <div class="${prefix}table-fixed-header">
      <SmallTable {{...this}} header />
    </div>
  {{/if}}

  {{#if fixedLeftList.length}}
    <div class="${prefix}table-fixed-left">
      <SmallTable
        {{...this}}
        fixed
        columns="{{fixedLeftList}}"
        list="{{list}}"
      />
    </div>
  {{/if}}

  <div class="${prefix}table-insert"
    {{#if height}}style="height: {{height}}; overflow-y: auto;"{{/if}}
  >
    {{#if list && list.length}}
      <SmallTable {{...this}} />
    {{else}}
      <slot name="empty">
        <div class="${prefix}table-empty">
          暂无数据
        </div>
      </slot>
    {{/if}}
  </div>

  {{#if fixedRightList.length}}
    <div class="${prefix}table-fixed-right">
      <SmallTable
        {{...this}}
        fixed
        columns="{{fixedRightList}}"
        list="{{list}}"
      />
    </div>
  {{/if}}
</div>