<div
class="${prefix}msg-confirm-wrapper
  {{#if isHidden}} ${prefix}msg-confirm-hidden{{/if}}
">
  <div class="${prefix}msg-confirm"
    {{#if width}} style="width: {{width}}px;"{{/if}}
  >
    {{#if closable}}
    <div class="${prefix}msg-confirm-close" on-click="hide()">
      <Icon
        size="{{24}}"
        name="close"
      />
    </div>
    {{/if}}

    {{#if title}}
    <div class="${prefix}msg-confirm-title">
      {{{title}}}
    </div>
    {{/if}}

    <div class="${prefix}msg-confirm-desc">
      {{{content}}}
    </div>

    {{#if buttons}}
    <div class="${prefix}msg-confirm-footer">
      {{#each buttons:index}}
      <Button type="{{type}}" on-click="buttonClick(index)">
        {{text}}
      </Button>
      {{/each}}
    </div>
    {{/if}}

  </div>
  {{#if mask}}
  <div class="${prefix}msg-mask" on-click="maskClick()"></div>
  {{/if}}
</div>