<div
class="${prefix}msg-alert-wrapper
{{#if isHidden}} ${prefix}msg-alert-hidden{{/if}}
">
  <div class="${prefix}msg-alert"
    {{#if width}} style="width: {{width}}px;"{{/if}}
  >
    {{#if closable}}
    <div class="${prefix}msg-alert-close" on-click="hide()">
      <Icon size="{{24}}" name="close" />
    </div>
    {{/if}}

    {{#if title}}
    <div class="${prefix}msg-alert-title">
      {{{title}}}
    </div>
    {{/if}}

    <div class="${prefix}msg-alert-desc">
      {{{content}}}
    </div>

    <div class="${prefix}msg-alert-footer">
      <Button type="{{button.type}}" on-click="hide()">
        {{button.text}}
      </Button>
    </div>
  </div>

  {{#if mask}}
  <div class="${prefix}msg-mask" on-click="maskClick()"></div>
  {{/if}}
</div>