<div
class="${prefix}select
{{#if size}} ${prefix}select-{{size}}{{/if}}

{{#if disabled}} ${prefix}select-disabled
{{else}} ${prefix}select-enabled
{{/if}}

{{#if placement}} ${prefix}select-{{placement}}{{/if}}
{{#if multiple}} ${prefix}select-multiple{{/if}}
{{#if clearable}} ${prefix}select-clearable{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if width || style}}
  style="{{#if width}}width: {{width}}px{{/if}};
  {{#if style}}{{style}}{{/if}}"
{{/if}}
>

  <div
    class="${prefix}select-button"
    {{#if !disabled}}
      on-click="handleToggleClick()"
    {{/if}}
  >

    <input type="hidden" model="value" />

    {{#if prefix || hasSlot('prefix')}}
      <div class="${prefix}select-prefix">
        <slot name="prefix">
          <Icon
            name="{{prefix}}"
            size="0"
            className="${prefix}select-prefix-icon"
          />
        </slot>
      </div>
    {{/if}}

    {{#if selectedOptions.length === 0}}

      <div class="${prefix}select-placeholder">
        {{defaultText || '请选择...'}}
      </div>

    {{else}}

      <div class="${prefix}select-value">

        {{#if multiple}}
          {{#each selectedOptions:index}}
            <Tag closable on-close="handleRemoveOption($event, index)">
              {{this.text}}
            </Tag>
          {{/each}}
        {{else}}
          {{selectedOptions[0].text}}
        {{/if}}

      </div>

    {{/if}}

    <Icon
      name="arrow-down"
      size="0"
      className="${prefix}select-arrow-icon"
    />

    {{#if clearable && selectedOptions.length}}
      <Icon
        name="close-circle"
        size="0"
        className="${prefix}select-clear-icon"
        on-click.native="handleClearClick()"
      />
    {{/if}}
  </div>

  <div ref="list" class="${prefix}dropdown-list">
    <div class="${prefix}dropdown-menu">
      <slot name="children" />
    </div>
  </div>

</div>