<div
class="${prefix}select
{{#if size}} ${prefix}select-{{size}}{{/if}}
{{#if visible}} ${prefix}select-active{{/if}}
{{#if disabled}} ${prefix}select-disabled{{/if}}
{{#if placement}} ${prefix}select-{{placement}}{{/if}}
{{#if multiple}} ${prefix}select-multiple{{/if}}
{{#if clearable}} ${prefix}select-clearable{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}} style="{{style}}"{{/if}}
>

  <div
    class="${prefix}select-button"
    {{#if !disabled}}
      on-click="handleToggleClick()"
    {{/if}}
  >

    <input type="hidden" model="value" />

    {{#if prefix || hasSlot('prefix')}}
      <div class="${prefix}select-prefix">
        <slot name="prefix">
          <Icon name="{{prefix}}" />
        </slot>
      </div>
    {{/if}}

    {{#if selectedOptions.length === 0}}

      <div class="${prefix}select-placeholder">
        {{defaultText || '请选择...'}}
      </div>

    {{else}}

      <div class="${prefix}select-value">

        {{#if multiple}}
          {{#each selectedOptions:index}}
            <Tag closable on-close="handleRemoveOption($event, index)">
              {{this.text}}
            </Tag>
          {{/each}}
        {{else}}
          {{selectedOptions[0].text}}
        {{/if}}

      </div>

    {{/if}}

    <Icon
      name="arrow-down"
      className="${prefix}select-arrow"
    />

    {{#if clearable && selectedOptions.length}}
      <Icon
        name="close-circle"
        size="16"
        className="${prefix}select-clear-icon"
        on-click.native="handleClearClick()"
      />
    {{/if}}
  </div>

  <div class="${prefix}dropdown-list">
    <ul class="${prefix}dropdown-menu">
      <slot name="children" />
    </ul>
  </div>

</div>