<div
class="${prefix}tabs ${prefix}tabs-{{type}}
{{#if size}} ${prefix}tabs-{{size}}{{/if}}
{{#if animated}} ${prefix}tabs-animated{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}} style="{{style}}"{{/if}}
>

  <div class="${prefix}tabs-bar">
    {{#if hasSlot('extra')}}
      <div class="${prefix}tabs-extra-container">
        <slot name="extra" />
      </div>
    {{/if}}
    <div class="${prefix}tabs-nav-container">
      <span class="${prefix}tabs-tab-prev"></span>
      <span class="${prefix}tabs-tab-next"></span>
      <div class="${prefix}tabs-tab-wrap">
        <div class="${prefix}tabs-tab-scroll">
          <div class="${prefix}tabs-nav
            {{#if closable}} ${prefix}tabs-nav-closable{{/if}}
          ">
            {{#each tabsList}}
              <div class="${prefix}tabs-tab
                {{#if disabled}} ${prefix}tabs-tab-disabled{{/if}}
                {{#if value === id}} ${prefix}tabs-tab-active{{/if}}
              " on-click="click(this)"
              >
                {{#if this.icon}}
                  <Icon
                    className="${prefix}tabs-tab-icon"
                    name="{{this.icon}}"
                  />
                {{/if}}
                {{label}}
                {{#if closable}}
                  <Icon
                    className="${prefix}tabs-tab-icon-close"
                    name="close"
                    size="22"
                    on-click.native="close(this)"
                  />
                {{/if}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="${prefix}tabs-content" style="transform: translateX({{translateStyle}});">
    <slot name="children" />
  </div>
</div>