<Dialog
  mask
  ref="dialog"
  width="{{width}}"
  maskClosable="{{false}}"
  closable="{{closable}}"
  className="${prefix}modal"
>

  <template slot="title">
    {{title}}
  </template>

  <template slot="content">
    {{content}}
  </template>

  <template slot="footer">
    <Button
      type="{{cancelType}}"
      on-click="cancel()"
    >
      {{cancelText}}
    </Button>
    <Button
      type="{{okType}}"
      on-click="ok()"
    >
      {{okText}}
    </Button>
  </template>

</Dialog>