<div
class="${prefix}notification

{{#if type}} ${prefix}notification-{{type}}
{{/if}}

{{#if duration == 0}} ${prefix}notification-with-close
{{/if}}"

style="width: {{width}}px;right: {{right}}px;"
>

  {{#if title}}
    <div class="${prefix}notification-title">
      {{title}}
    </div>
  {{/if}}

  {{#if content}}
    <div class="${prefix}notification-content">
      {{content}}
    </div>
  {{/if}}

  {{#if duration == 0}}
    <Icon
      name="close"
      size="0"
      className="${prefix}notification-close"
      on-click.native="hide()"
    />
  {{/if}}

</div>