<div
class="${prefix}notification

{{#if status}} ${prefix}notification-{{status}} ${prefix}notification-with-icon
{{/if}}

{{#if duration == 0}} ${prefix}notification-with-close
{{/if}}"

style="width: {{width}}px;right: {{right}}px;"
>

  {{#if status}}
    <Icon
      name="{{
        status === RAW_TYPE_SUCCESS
          ? 'checkmark-circle'
          : status === RAW_TYPE_WARNING
            ? 'alert'
            : status === RAW_TYPE_ERROR
              ? 'close-circle'
              : 'information-circle'
      }}"
      size="0"
      className="${prefix}notification-icon"
    />
  {{/if}}

  {{#if title}}
    <div class="${prefix}notification-title">
      {{title}}
    </div>
  {{/if}}

  {{#if content}}
    <div class="${prefix}notification-content">
      {{content}}
    </div>
  {{/if}}

  {{#if duration == 0}}
    <Icon
      name="close"
      size="0"
      className="${prefix}notification-close"
      on-click.native="hide()"
    />
  {{/if}}

</div>