<div
class="${prefix}datepicker-daterange
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div class="${prefix}datepicker-panel">
    <div class="${prefix}datepicker-header">

      <div class="${prefix}datepicker-prev">
        <span class="${prefix}datepicker-header-button" on-click="offsetStart(-12)">
          <Icon
            name="arrow-left-s-fill"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>

        <span class="${prefix}datepicker-header-button" on-click="offsetStart(-1)">
          <Icon
            name="arrow-left-s-line"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>
      </div>

      {{startDate.year}} 年 {{startDate.month}} 月

      {{#if splitPanel}}
        <div class="${prefix}datepicker-next">
          <span class="${prefix}datepicker-header-button" on-click="offsetStart(1)">
            <Icon
              name="arrow-right-s-line"
              size="0"
              className="${prefix}datepicker-header-icon"
            />
          </span>

          <span class="${prefix}datepicker-header-button" on-click="offsetStart(12)">
            <Icon
              name="arrow-right-s-fill"
              size="0"
              className="${prefix}datepicker-header-icon"
            />
          </span>
        </div>
      {{/if}}

    </div>
    <div class="${prefix}datepicker-body">
      <div class="${prefix}datepicker-weeks">
        {{#each weeks}}
          <div class="${prefix}datepicker-col">
            {{this}}
          </div>
        {{/each}}
      </div>
      <div class="${prefix}datepicker-days" on-mouseleave="leave()">
        {{#each startDatasource}}
          <div class="${prefix}datepicker-row">
            {{#each this.list}}
              <div
                class="${prefix}datepicker-col

                {{#if isEnabled(this)}} ${prefix}datepicker-col-enabled
                  {{#if isCurrentMonth(this, ../../startDate)}} ${prefix}datepicker-col-current-month

                    {{#if this.timestamp === ../../computedCheckedStartTimestamp}} ${prefix}datepicker-col-checked
                      {{#if ../../computedCheckedEndTimestamp}} ${prefix}datepicker-col-start
                      {{else}} ${prefix}datepicker-col-range
                      {{/if}}
                    {{/if}}

                    {{#if this.timestamp === ../../computedCheckedEndTimestamp}} ${prefix}datepicker-col-checked ${prefix}datepicker-col-end
                    {{/if}}

                    {{#if ../../computedCheckedStartTimestamp < this.timestamp
                      && ../../computedCheckedEndTimestamp > this.timestamp}} ${prefix}datepicker-col-range
                    {{/if}}

                  {{else}} ${prefix}datepicker-col-adjacent-month
                  {{/if}}
                {{else}} ${prefix}datepicker-col-disabled
                {{/if}}"

                {{#if ../../pinDate}}
                  on-mouseenter="hover(this)"
                {{/if}}

                {{#if isEnabled(this)}}
                  on-click="click(this)"
                {{/if}}
              >
                <div class="${prefix}datepicker-text">
                  {{this.date}}
                </div>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="${prefix}datepicker-panel">
    <div class="${prefix}datepicker-header">

      {{#if splitPanel}}
        <div class="${prefix}datepicker-prev">
          <span class="${prefix}datepicker-header-button" on-click="offsetEnd(-12)">
            <Icon
              name="arrow-left-s-fill"
              size="0"
              className="${prefix}datepicker-header-icon"
            />
          </span>

          <span class="${prefix}datepicker-header-button" on-click="offsetEnd(-1)">
            <Icon
              name="arrow-left-s-line"
              size="0"
              className="${prefix}datepicker-header-icon"
            />
          </span>
        </div>
      {{/if}}

      {{endDate.year}} 年 {{endDate.month}} 月

      <div class="${prefix}datepicker-next">
        <span class="${prefix}datepicker-header-button" on-click="offsetEnd(1)">
          <Icon
            name="arrow-right-s-line"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>

        <span class="${prefix}datepicker-header-button" on-click="offsetEnd(12)">
          <Icon
            name="arrow-right-s-fill"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>
      </div>

    </div>
    <div class="${prefix}datepicker-body">
      <div class="${prefix}datepicker-weeks">
        {{#each weeks}}
          <div class="${prefix}datepicker-col">
            {{this}}
          </div>
        {{/each}}
      </div>
      <div class="${prefix}datepicker-days" on-mouseleave="leave()">
        {{#each endDatasource}}
          <div class="${prefix}datepicker-row">
            {{#each this.list}}
              <div
                class="${prefix}datepicker-col

                {{#if isEnabled(this)}} ${prefix}datepicker-col-enabled
                  {{#if isCurrentMonth(this, ../../endDate)}} ${prefix}datepicker-col-current-month

                    {{#if this.timestamp === ../../computedCheckedStartTimestamp}} ${prefix}datepicker-col-checked
                      {{#if ../../computedCheckedEndTimestamp}} ${prefix}datepicker-col-start
                      {{else}} ${prefix}datepicker-col-range
                      {{/if}}
                    {{/if}}

                    {{#if this.timestamp === ../../computedCheckedEndTimestamp}} ${prefix}datepicker-col-checked ${prefix}datepicker-col-end
                    {{/if}}

                    {{#if ../../computedCheckedStartTimestamp < this.timestamp
                      && ../../computedCheckedEndTimestamp > this.timestamp}} ${prefix}datepicker-col-range
                    {{/if}}

                  {{else}} ${prefix}datepicker-col-adjacent-month
                  {{/if}}

                {{else}} ${prefix}datepicker-col-disabled
                {{/if}}"

                {{#if ../../pinDate}}
                  on-mouseenter="hover(this)"
                {{/if}}

                {{#if isEnabled(this)}}
                  on-click="click(this)"
                {{/if}}
              >
                <div class="${prefix}datepicker-text">
                  {{this.date}}
                </div>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>

</div>