{{#if type === RAW_TYPE_MONTH}}
  <div
  class="${prefix}datepicker-month ${prefix}datepicker-panel
  {{#if className}} {{className}}{{/if}}"

  {{#if style}}
    style="{{style}}"
  {{/if}}
  >

    <div class="${prefix}datepicker-header">
      <div class="${prefix}datepicker-prev">
        <span class="${prefix}datepicker-header-button" on-click="decrease('year', 10)">
          <Icon
            name="arrow-left-s-fill"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>

        <span class="${prefix}datepicker-header-button" on-click="decrease('year', 1)">
          <Icon
            name="arrow-left-s-line"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>
      </div>

      <span
        {{#if canPickYear}}
          class="${prefix}datepicker-header-link"
          on-click="set('type', RAW_TYPE_YEAR)"
        {{/if}}
      >
        <span class="${prefix}datepicker-header-year">
          {{year}}
        </span>
        年
      </span>

      <div class="${prefix}datepicker-next">
        <span class="${prefix}datepicker-header-button" on-click="increase('year', 1)">
          <Icon
            name="arrow-right-s-line"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>

        <span class="${prefix}datepicker-header-button" on-click="increase('year', 10)">
          <Icon
            name="arrow-right-s-fill"
            size="0"
            className="${prefix}datepicker-header-icon"
          />
        </span>
      </div>
    </div>

    <div class="${prefix}datepicker-body">
      {{#each datasource}}
        <div class="${prefix}datepicker-row">
          {{#each this}}
            <div
              class="${prefix}datepicker-col ${prefix}datepicker-col-enabled
              {{#if isChecked(this)}} ${prefix}datepicker-col-checked
              {{/if}}"

              on-click="click(this)"
            >
              <div class="${prefix}datepicker-text">
                {{this.text}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>

  </div>
{{else if type === RAW_TYPE_YEAR}}
  <DateYear
    checkedYear="{{year}}"
  />
{{/if}}