<div
class="${prefix}datepicker-year ${prefix}datepicker-panel
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div class="${prefix}datepicker-header">
    <span class="${prefix}datepicker-header-button ${prefix}datepicker-prev" on-click="decrease('year', count)">
      <Icon
        name="arrow-left-s-line"
        size="0"
        className="${prefix}datepicker-header-icon"
      />
    </span>

    {{year}} 年 - {{year + count - 1}} 年

    <span class="${prefix}datepicker-header-button ${prefix}datepicker-next" on-click="increase('year', count)">
      <Icon
        name="arrow-right-s-line"
        size="0"
        className="${prefix}datepicker-header-icon"
      />
    </span>
  </div>

  <div class="${prefix}datepicker-body">
    {{#each datasource}}
      <div class="${prefix}datepicker-row">
        {{#each this}}
          <div
            class="${prefix}datepicker-col ${prefix}datepicker-col-enabled
            {{#if isChecked(this)}} ${prefix}datepicker-col-checked
            {{/if}}"
            on-click="click(this)"
          >
            <div class="${prefix}datepicker-text">
              {{this}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>

</div>