<div
class="{{#if button}}${prefix}radio-button

  {{!
    size 只有在 button 状态时生效
  }}
  {{#if size}} ${prefix}radio-button-{{size}}
  {{/if}}

  {{#if disabled}} ${prefix}radio-button-disabled
  {{else}} ${prefix}radio-button-enable
  {{/if}}

{{else}}${prefix}radio-group

  {{#if disabled}} ${prefix}radio-group-disabled
  {{else}} ${prefix}radio-group-enabled
  {{/if}}

{{/if}}

{{#if vertical}} ${prefix}radio-vertical
{{else}} ${prefix}radio-horizontal
{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <slot />
</div>