<div class="${prefix}slider

{{#if vertical}} ${prefix}slider-vertical
{{else}} ${prefix}slider-horizontal
{{/if}}

{{#if disabled}} ${prefix}slider-disabled
{{else}} ${prefix}slider-enabled
{{/if}}

{{#if thumbIsDragging}} ${prefix}slider-dragging{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div
    class="${prefix}slider-track"
    {{#if !disabled}}
      on-click="trackClick.slider"
    {{/if}}
  >

    <div
      class="${prefix}slider-bar"
      style="
      {{#if vertical}}
        height: {{percent}}%;
      {{else}}
        width: {{percent}}%;
      {{/if}}"
    >
    </div>

    {{#if showStops}}
      {{#each stops}}
        <div
          key="{{this}}"
          class="${prefix}slider-stop"
          style="
          {{#if vertical}}
            bottom: {{this}}%;
          {{else}}
            left: {{this}}%;
          {{/if}}"
        >
        </div>
      {{/each}}
    {{/if}}

    <div
      class="${prefix}slider-thumb"
      style="
      {{#if vertical}}
        bottom: {{percent}}%;
      {{else}}
        left: {{percent}}%;
      {{/if}}"

      on-mouseenter="thumbMouseEnter.slider"
      on-mouseleave="thumbMouseLeave.slider"
      lazy-mouseenter="100"
      lazy-mouseleave="100"

      {{#if !disabled}}
        on-mousedown="thumbMouseDown.slider"
      {{/if}}

    >
    </div>

    <div
      ref="tooltip"
      class="${prefix}tooltip-popup ${prefix}tooltip-dark
      {{#if vertical}} ${prefix}tooltip-right
      {{else}} ${prefix}tooltip-top
      {{/if}}"
      style="
      {{#if vertical}}
        bottom: {{percent}}%;
      {{else}}
        left: {{percent}}%;
      {{/if}}"
    >
      <div class="${prefix}tooltip-arrow"></div>
      <div class="${prefix}tooltip-content">
        {{value}}
      </div>
    </div>

  </div>

</div>