<label
class="${prefix}checkbox

{{#if disabled}} ${prefix}checkbox-disabled
{{else}} ${prefix}checkbox-enabled
{{/if}}

{{#if checked}} ${prefix}checkbox-active{{/if}}
{{#if isFocus}} ${prefix}checkbox-focus{{/if}}
{{#if hasSlot('children')}} ${prefix}checkbox-with-label{{/if}}
{{#if indeterminate}} ${prefix}checkbox-indeterminate{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <span class="${prefix}checkbox-icon">
    <input
      class="${prefix}checkbox-input"
      type="checkbox"
      {{#if name}}
        name="{{name}}"
      {{/if}}
      checked="{{checked}}"
      disabled="{{disabled}}"
      on-change="onChange()"
      on-focus="set('isFocus', true)"
      on-blur="set('isFocus', false)"
    >
  </span>

  <slot name="children" />

</label>