<div
class="${prefix}switch

{{#if size}} ${prefix}switch-{{size}}{{/if}}

{{#if disabled}} ${prefix}switch-disabled
{{else}} ${prefix}switch-enabled
{{/if}}

{{#if checked}} ${prefix}switch-active{{/if}}
{{#if loading}} ${prefix}switch-loading{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if !disabled && !loading}}
  on-click="handleClick()"
{{/if}}
>

  {{#if hasSlot('on') || hasSlot('off')}}
    <div class="${prefix}switch-label">
      {{#if checked}}
        <slot name="on" />
      {{else}}
        <slot name="off" />
      {{/if}}
    </div>
  {{/if}}

</div>