<div
class="${prefix}tag

{{#if type}} ${prefix}tag-{{type}}{{/if}}
{{#if size}} ${prefix}tag-{{size}}{{/if}}

{{#if checkable}} ${prefix}tag-checkable{{/if}}
{{#if closable}} ${prefix}tag-closable{{/if}}
{{#if color}} ${prefix}tag-pure{{/if}}

{{#if checked}} ${prefix}tag-checked{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if color || style}}
  style="{{#if color}}
    {{#if checkable}}
      {{#if checked}}
        background-color: {{color}};
      {{else}}
        color: {{color}};
      {{/if}}
    {{else}}
      background-color: {{color}};
    {{/if}}
  {{/if}}
  {{#if style}}{{style}}{{/if}}"
{{/if}}

{{#if checkable}}
  on-click="toggleChecked()"
{{/if}}
>

  <slot />

  {{#if closable}}
    <Icon
      name="close-line"
      className="${prefix}tag-close-icon"
      on-click.native="close.tag"
    />
  {{/if}}

</div>