<button
class="${prefix}button ${prefix}button-{{border}}

{{#if ghost}} ${prefix}button-ghost
  {{#if type}} ${prefix}button-ghost-{{type}}{{/if}}
{{else if type}} ${prefix}button-{{type}}
{{/if}}

{{#if size}} ${prefix}button-{{size}}{{/if}}
{{#if shape}} ${prefix}button-{{shape}} ${prefix}button-{{shape}}-{{size}}{{/if}}

{{#if disabled}} ${prefix}button-disabled
{{else}} ${prefix}button-enabled
{{/if}}

{{#if fluid}} ${prefix}button-fluid{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if disabled}}
  disabled
{{else}}
  on-click="click.button"
{{/if}}

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <slot name="icon" />
  <slot name="children" />

</button>