<div
class="${prefix}form-item
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  {{#if label || hasSlot('label')}}
    <label
      class="${prefix}form-item-label
      {{#if required}} ${prefix}form-item-label-required{{/if}}"

      {{#if labelFor}}
        for="{{labelFor}}"
      {{/if}}

      {{#if width}}
        style="width: {{width}}px;"
      {{/if}}
    >
      <slot name="label">
        {{label}}
      </slot>
    </label>

    <div class="${prefix}form-item-wrapper">

      <slot name="children" />

      {{#if isShowError && (error || errorMsg)}}
        <div class="${prefix}form-item-error">
          {{error || errorMsg}}
        </div>
      {{/if}}

    </div>

  {{else}}

    <slot name="children" />

    {{#if isShowError && (error || errorMsg)}}
      <div class="${prefix}form-item-error">
        {{error || errorMsg}}
      </div>
    {{/if}}

  {{/if}}


</div>