<div
class="${prefix}form-item
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  {{#if label || hasSlot('label')}}
    <label
      class="${prefix}form-item-label
      {{#if isRequired}} ${prefix}form-item-label-required{{/if}}"

      {{#if labelWidth}}
        style="width: {{labelWidth}}px;"
      {{/if}}
    >
      <slot name="label">
        {{label}}
      </slot>
    </label>

    <div class="${prefix}form-item-wrapper">

      <slot name="children" />

      {{#if showError && computedError}}
        <div class="${prefix}form-item-error">
          {{computedError}}
        </div>
      {{/if}}

    </div>

  {{else}}

    <div
      {{#if labelWidth}}
        style="margin-left: {{labelWidth}}px;"
      {{/if}}
    >
      <slot name="children" />

      {{#if showError && computedError}}
        <div class="${prefix}form-item-error">
          {{computedError}}
        </div>
      {{/if}}
    </div>

  {{/if}}


</div>