<div
class="${prefix}rate
{{#if type}} ${prefix}rate-{{type}}{{/if}}

{{#if readOnly}} ${prefix}rate-dead
{{else}} ${prefix}rate-live
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if !readOnly}}
  on-mouseleave="handleLeave()"
{{/if}}
>
  <input type="hidden" model="value">

  {{#each 1 => count}}
    <Icon
      name="{{icon}}"
      size="{{size}}"
      className="${prefix}rate-icon-full
      {{#if activeValue - this >= 0}} ${prefix}rate-icon-active{{/if}}"

      {{#if !readOnly}}
        on-mousemove.native="handleMove($event, this)"
        on-click.native="handleClick($event, this)"
      {{/if}}
    >
      {{#if half}}
        <Icon
          name="{{icon}}"
          size="{{size}}"
          className="${prefix}rate-icon-half
          {{#if activeValue - this >= -0.5}} ${prefix}rate-icon-active{{/if}}"
        />
      {{/if}}
    </Icon>
  {{/each}}

  {{#if showTexts}}
    <span class="${prefix}rate-text">
      <slot name="children">
        {{#if texts}}
          {{texts[activeValue - 1]}}
        {{else}}
          {{value}} 星
        {{/if}}
      </slot>
    </span>
  {{/if}}

</div>