<div
class="${prefix}card ${prefix}card-shadow-{{shadow}}

{{#if simple}} ${prefix}card-simple
{{else}} ${prefix}card-bordered
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if width || style}}
  style="{{#if width}}width: {{width}}px;{{/if}}
  {{#if style}}{{style}}{{/if}}"
{{/if}}
>
  <slot name="children" />
</div>