<div
class="${prefix}alert
{{#if type}} ${prefix}alert-{{type}}{{/if}}
{{#if hasSlot('content')}} ${prefix}alert-with-content{{/if}}
{{#if showIcon || hasSlot('icon')}} ${prefix}alert-with-icon{{/if}}
{{#if center}} ${prefix}alert-center{{/if}}
{{#if className}} {{className}}{{/if}}
"
{{#if style}} style="{{style}}"{{/if}}
>
  {{#if showIcon || hasSlot('icon')}}
    <span class="${prefix}alert-icon">
      <slot name="icon">
        {{#if type == 'primary'}}
          <Icon name="information-circle" />
        {{else if type == 'success'}}
          <Icon name="checkmark-circle" />
        {{else if type == 'warning'}}
          <Icon name="alert" />
        {{else if type == 'error'}}
          <Icon name="close-circle" />
        {{/if}}
      </slot>>
    </span>
  {{/if}}

  <div class="${prefix}alert-wrapper">

    {{#if hasSlot('children')}}
    <div class="${prefix}alert-title">
      <slot name="children" />
    </div>
    {{/if}}

    {{#if hasSlot('content')}}
    <div class="${prefix}alert-content">
      <slot name="content" />
    </div>
    {{/if}}

  </div>

  {{#if closable || hasSlot('close')}}
    <span ref="close" class="${prefix}alert-close" on-click="close()">
      <slot name="close">
        <Icon name="close" size="24" />
      </slot>
    </span>
  {{/if}}
</div>