<div
class="${prefix}pagination
{{#if size}} ${prefix}pagination-{{size}}{{/if}}
{{#if hideOnSinglePage && count <= 1}} ${prefix}pagination-hidden{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  {{#partial prevPage}}
    {{#if hasSlot('prev')}}

      <div
        key="prev"
        class="${prefix}pagination-custom-prev
        {{#if current === 1}} ${prefix}pagination-custom-disabled{{/if}}"

        {{#if current > 1}}
          on-click="decrease('current', 1, 1)"
        {{/if}}
      >
        <slot name="prev" />
      </div>

    {{else}}

      <button
        key="prev"
        class="${prefix}pagination-item ${prefix}pagination-prev"

        {{#if current > 1}}
          on-click="decrease('current', 1, 1)"
        {{else}}
          disabled
        {{/if}}
      >
        <Icon
          name="arrow-left-s-line"
          size="0"
          className="${prefix}pagination-icon"
        />
      </button>

    {{/if}}
  {{/partial}}

  {{#partial nextPage}}
    {{#if hasSlot('next')}}

      <div
        key="next"
        class="${prefix}pagination-custom-next
        {{#if current === count}} ${prefix}pagination-custom-disabled{{/if}}"

        {{#if current < count}}
          on-click="increase('current', 1, count)"
        {{/if}}
      >
        <slot name="next" />
      </div>

    {{else}}

      <button
        key="next"
        class="${prefix}pagination-item ${prefix}pagination-next"

        {{#if current < count}}
          on-click="increase('current', 1, count)"
        {{else}}
          disabled
        {{/if}}
      >
        <Icon
          name="arrow-right-s-line"
          size="0"
          className="${prefix}pagination-icon"
        />
      </button>

    {{/if}}
  {{/partial}}

  {{#if showTotal}}
    <span class="${prefix}pagination-total">
      共 {{total}} 条
    </span>
  {{/if}}

  {{#if pageSizeList.length > 0}}
    <Select
      model="pageSize"
      size="{{size}}"
      placement="{{placement}}"
      className="${prefix}pagination-select"
      on-change="pageSizeChange()"
    >
      {{#each pageSizeList}}
        <Option value="{{this.value}}" text="{{this.text}}">
          {{this.text}}
        </Option>
      {{/each}}
    </Select>
  {{/if}}

  {{#if simple}}

    <div class="${prefix}pagination-simple">

      {{> prevPage}}

      <Input
        ref="simpleInput"
        size="{{size}}"
        model="page"
        className="${prefix}pagination-simple-input"
      />

      <span class="${prefix}pagination-separator">
        /
      </span>

      <span class="${prefix}pagination-count">
        {{count}}
      </span>

      {{> nextPage}}

    </div>

  {{else}}

    <div class="${prefix}pagination-list">

      {{> prevPage}}

      {{#each pageList}}

        {{#if this.prev}}

          <div
            key="prev-ellipsis"
            class="${prefix}pagination-ellipsis"
            on-click="decrease('current', 5, 1)"
          >
            <Icon
              name="arrow-left-s-fill"
              size="0"
              className="${prefix}pagination-icon"
            />
          </div>

        {{else if this.next}}

          <div
            key="next-ellipsis"
            class="${prefix}pagination-ellipsis"
            on-click="increase('current', 5, ../count)"
          >
            <Icon
              name="arrow-right-s-fill"
              size="0"
              className="${prefix}pagination-icon"
            />
          </div>

        {{else}}

          <button
            key="page{{this.value}}"
            class="${prefix}pagination-item
            {{#if this.active}} ${prefix}pagination-active{{/if}}"
            {{#if !this.active}}
              on-click="set('current', this.value)"
            {{/if}}
          >
            {{this.value}}
          </button>

        {{/if}}

      {{/each}}

      {{> nextPage}}

    </div>

  {{/if}}

  {{#if showJumper}}
    <div class="${prefix}pagination-jumper">
      <Input
        ref="jumperInput"
        placeholder="请输入页码"
        model="page"
        size="{{size}}"
        className="${prefix}pagination-jumper-input"
      />
      <Button
        type="primary"
        on-click="jump()"
      >
        跳转
      </Button>
    </div>
  {{/if}}

</div>