<Popover
  placement="{{placement}}"
  trigger="{{RAW_CUSTOM}}"
  visible="{{visible}}"
  gap="5"
>

  <div
    class="${prefix}time-picker
    {{#if status}} ${prefix}time-picker-{{status}}{{/if}}
    {{#if size}} ${prefix}time-picker-{{size}}{{/if}}
    {{#if block}} ${prefix}time-picker-block{{/if}}
    {{#if visible}} ${prefix}time-picker-opened{{/if}}
    {{#if clearable}} ${prefix}time-picker-clearable{{/if}}
    {{#if disabled}} ${prefix}time-picker-disabled
    {{else}} ${prefix}time-picker-enabled
    {{/if}}
    {{#if className}} {{className}}{{/if}}"

    {{#if !disabled}}
      on-click="toggle('visible')"
    {{/if}}

    style="{{#if componentWidth}}width: {{componentWidth}}px;{{/if}}
    {{#if style}}{{style}}{{/if}}"
  >

    {{#if text}}
      <div class="${prefix}time-picker-value">
        {{text}}
      </div>
    {{else}}
      <div class="${prefix}time-picker-placeholder">
        {{placeholder}}
      </div>
    {{/if}}

    {{#if clearable && hasValue}}
      <Icon
        name="close-circle-fill"
        className="${prefix}time-picker-clear-icon"
        on-click.native="handleClearClick()"
      />
    {{/if}}

    <Icon
      name="time-line"
      className="${prefix}time-picker-time-icon"
    />

  </div>

  <div
    slot="overlay"
    class="${prefix}time-picker-overlay"
    {{#if componentWidth}}
      style="width: {{componentWidth}}px;"
    {{/if}}
  >

    <TimePanel
      hourList="{{hourList}}"
      minuteList="{{minuteList}}"
      secondList="{{secondList}}"
      hourIndex="{{visible ? hourIndex : -1}}"
      minuteIndex="{{visible ? minuteIndex : -1}}"
      secondIndex="{{visible ? secondIndex : -1}}"
    />

  </div>

</Popover>