<Popover
  placement="{{placement}}"
  trigger="{{RAW_CUSTOM}}"
  visible="{{isVisible}}"
  gap="5"
>

  <div
    class="${prefix}time-picker
    {{#if status}} ${prefix}time-picker-{{status}}{{/if}}
    {{#if size}} ${prefix}time-picker-{{size}}{{/if}}
    {{#if block}} ${prefix}time-picker-block{{/if}}
    {{#if isVisible}} ${prefix}time-picker-opened{{/if}}
    {{#if showClear}} ${prefix}time-picker-with-clear{{/if}}
    {{#if disabled}} ${prefix}time-picker-disabled
    {{else}} ${prefix}time-picker-enabled
    {{/if}}
    {{#if className}} {{className}}{{/if}}"

    {{#if !disabled}}
      tabindex="0"
      on-click="onClick()"
      on-focus="set('isFocus', true)"
      on-blur="set('isFocus', false)"
    {{/if}}

    {{#if inlineStyle}}
      style="{{inlineStyle}}"
    {{/if}}
  >

    {{#if text}}
      <div class="${prefix}time-picker-value">
        {{text}}
      </div>
    {{else}}
      <div class="${prefix}time-picker-placeholder">
        {{placeholder}}
      </div>
    {{/if}}

    {{#if showClear && hasValue}}
      <Icon
        name="close-circle-fill"
        className="${prefix}time-picker-clear-icon"
        on-click.native="onClearClick()"
      />
    {{/if}}

    <Icon
      name="time-line"
      className="${prefix}time-picker-time-icon"
    />

  </div>

  <div
    slot="overlay"
    class="${prefix}time-picker-overlay"
  >

    <TimePanel
      hourList="{{hourList}}"
      minuteList="{{minuteList}}"
      secondList="{{secondList}}"
      hourIndex="{{isVisible ? hourIndex : -1}}"
      minuteIndex="{{isVisible ? minuteIndex : -1}}"
      secondIndex="{{isVisible ? secondIndex : -1}}"
    />

  </div>

</Popover>