<div class="${prefix}tooltip
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <div
    class="${prefix}tooltip-el"
    {{#if mode === 'click'}}
      on-click="click()"
    {{else}}
      on-mouseenter="enter()"
      on-mouseleave="leave()"
    {{/if}}
  >
    <slot name="children" />
  </div>

  <div
    ref="popup"
    class="${prefix}tooltip-popup ${prefix}tooltip-popup-{{placement}}
    {{#if disabled}} ${prefix}tooltip-disabled{{/if}}"
  >
    <div class="${prefix}tooltip-arrow"></div>
    <div
      class="${prefix}tooltip-content"
      {{#if maxWidth || maxHeight}}
        style="{{#if maxWidth}}max-width: {{maxWidth}}px{{/if}};{{#if maxHeight}}max-height: {{maxHeight}}px{{/if}};"
      {{/if}}
    >
      <slot name="content">
        {{content}}
      </slot>
    </div>
  </div>
</div>