<div class="${prefix}tooltip
{{#if isVisible}} ${prefix}tooltip-visible{{/if}}
{{#if isHover}} ${prefix}tooltip-hover{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <div
    class="${prefix}tooltip-el"
    {{#if mode === 'click'}}
      on-click="click()"
    {{else}}
      on-mouseenter="enter()"
      on-mouseleave="leave()"
    {{/if}}
  >
    <slot name="children" />
  </div>

  <div
    ref="popper"
    class="${prefix}tooltip-popper ${prefix}tooltip-popper-{{placement}}
    {{#if disabled}} ${prefix}tooltip-disabled{{/if}}"
  >
    <div class="${prefix}tooltip-arrow"></div>
    <div
      class="${prefix}tooltip-inner"
      style="{{#if maxWidth}}max-width: {{maxWidth}}px{{/if}};
        {{#if maxHeight}} max-height: {{maxHeight}}px{{/if}};"
    >
      <slot name="content">
        {{content}}
      </slot>
    </div>
  </div>
</div>