<div
class="${prefix}circle
{{#if dashboard}} ${prefix}circle-dashboard{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}
>
  <svg viewBox="0 0 100 100">
    <path
      d="{{path}}"
      stroke="{{trailColor}}"
      stroke-width="{{trailWidth}}"
      fill-opacity="0"
      style="{{trailStyle}}"
    />
    <path
      d="{{path}}"
      stroke-linecap="{{strokeLinecap}}"
      stroke="{{strokeColor}}"
      stroke-width="{{strokeWidth}}"
      fill-opacity="0"
      style="{{pathStyle}}"
    />
  </svg>
  {{#if @children}}
    <div class="${prefix}circle-content">
      <slot />
    </div>
  {{/if}}
</div>