<div
class="${prefix}statistic
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div class="${prefix}statistic-header">
    <div class="${prefix}statistic-title">
      {{title}}
    </div>
    <slot name="extra" />
  </div>

  <Skeleton
    loading="{{loading}}"
    text="{{ { rows: 1 } }}"
  >
    <div
      class="${prefix}statistic-content"
      {{#if color}}
        style="{{ { color: color } }}"
      {{/if}}
    >
      {{#if prefix || hasSlot('prefix')}}
        <div class="${prefix}statistic-content-prefix">
          <slot name="prefix">
            {{prefix}}
          </slot>
        </div>
      {{/if}}

      <div class="${prefix}statistic-content-value">
        {{value}}
      </div>

      {{#if suffix || hasSlot('suffix')}}
        <div class="${prefix}statistic-content-suffix">
          <slot name="suffix">
            {{suffix}}
          </slot>
        </div>
      {{/if}}
    </div>
  </Skeleton>

</div>