<div
class="${prefix}form-item
{{#if extra || @extra}} ${prefix}form-item-with-extra{{/if}}
{{#if showItemMessage}} ${prefix}form-item-with-message{{/if}}
{{#if adaptive}} ${prefix}form-item-adaptive{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}
>
  {{#if label || @label}}
    <label
      class="${prefix}form-item-label
      {{#if showRequiredMark}} ${prefix}form-item-label-required{{/if}}"

      {{#if itemLabelWidth}}
        style="{{ {
          flex: '0 0 ' + itemLabelWidth
        } }}"
      {{/if}}
    >
      <slot name="label">
        {{label}}
      </slot>
      {{#if @tooltip}}
        <span class="${prefix}form-item-tooltip">
          <slot name="tooltip" />
        </span>
      {{/if}}
    </label>
  {{/if}}

  <div
    class="${prefix}form-item-wrapper"
    {{#if itemLabelWidth
      && (!label && !@label)
    }}
      style="{{ {
        marginLeft: itemLabelWidth
      } }}"
    {{/if}}
  >

    <div class="${prefix}form-item-controls">
      <slot />
    </div>

    {{#if extra}}
      <div class="${prefix}form-item-extra">
        {{{formatMessage(extra)}}}
      </div>
    {{else if @extra}}
      <div class="${prefix}form-item-extra">
        <slot name="extra" />
      </div>
    {{/if}}

    {{#if showItemMessage}}
      <div class="${prefix}form-item-message">
        {{{formatMessage(itemMessage)}}}
      </div>
    {{/if}}

  </div>

</div>