<div
class="${prefix}form-item
{{#if extra}} ${prefix}form-item-with-extra{{/if}}
{{#if showItemMessage}} ${prefix}form-item-with-message{{/if}}
{{#if adaptive}} ${prefix}form-item-adaptive{{/if}}
{{#if labelAlign}} ${prefix}form-item-align-{{labelAlign}}{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  {{#if label || hasSlot('label')}}

    <label
      class="${prefix}form-item-label
      {{#if showRequiredMark}} ${prefix}form-item-label-required{{/if}}"

      {{#if itemLabelWidth && formLabelAlign !== RAW_TOP}}
        style="{{ {
          flex: '0 0 ' + itemLabelWidth + 'px'
        } }}"
      {{/if}}
    >
      <slot name="label">
        {{label}}
      </slot>
    </label>

    <div class="${prefix}form-item-wrapper">

      <div class="${prefix}form-item-controls">
        <slot />
      </div>

      {{#if extra}}
        <div class="${prefix}form-item-extra">
          {{extra}}
        </div>
      {{/if}}

      {{#if showItemMessage}}
        <div class="${prefix}form-item-message">
          {{itemMessage}}
        </div>
      {{/if}}

    </div>

  {{else}}

    <div
      class="${prefix}form-item-wrapper"
      {{#if itemLabelWidth}}
        style="{{ {
          marginLeft: itemLabelWidth + 'px'
        } }}"
      {{/if}}
    >
      <slot />

      {{#if extra}}
        <div class="${prefix}form-item-extra">
          {{extra}}
        </div>
      {{/if}}

      {{#if showItemMessage}}
        <div class="${prefix}form-item-message">
          {{itemMessage}}
        </div>
      {{/if}}

    </div>

  {{/if}}


</div>