<div
class="${prefix}thumbnail
{{#if simple}} ${prefix}thumbnail-simple
{{else}} ${prefix}thumbnail-bordered
{{/if}}

{{#if loading}} ${prefix}thumbnail-loading{{/if}}
{{#if className}} {{className}}{{/if}}"

style="width:{{width}}px;height:{{height}}px;line-height:{{height}}px;
{{#if style}}{{style}}{{/if}}"
>

  {{#if src}}
    <img
      class="${prefix}thumbnail-image"
      src="{{src}}"
      {{#if srcSet}}
        srcset="{{srcSet}}"
      {{/if}}
      {{#if alt}}
        alt="{{alt}}"
      {{/if}}
      ondragstart="return false"
      on-error="error.thumbnail"
    >

    {{#if showZoom || showUpload || showDownload || showDelete}}
      <div class="${prefix}thumbnail-mask">
        {{#if showZoom}}
          <div class="${prefix}thumbnail-action">
            <Icon
              name="zoom-in-line"
              size="0"
              on-click.native="zoom.thumbnail"
            />
          </div>
        {{/if}}
        {{#if showUpload}}
          <Upload
            className="${prefix}thumbnail-action"
            accept="{{accept}}"
            upload="{{uploadImage}}"
            beforeUpload="{{beforeUpload}}"
          >
            <Icon
              name="upload-2-line"
              size="0"
            />
          </Upload>
        {{/if}}
        {{#if showDownload}}
          <div class="${prefix}thumbnail-action">
            <Icon
              name="download-2-line"
              size="0"
              on-click.native="download.thumbnail"
            />
          </div>
        {{/if}}
        {{#if showDelete}}
          <div class="${prefix}thumbnail-action">
            <Icon
              name="delete-bin-line"
              size="0"
              on-click.native="delete.thumbnail"
            />
          </div>
        {{/if}}
      </div>
    {{/if}}

  {{else}}
    <div class="${prefix}thumbnail-placeholder">
      <slot name="placeholder" />
    </div>
  {{/if}}

  {{#if loading}}
    <Spin
      size="large"
      fixed
    />
  {{/if}}

</div>