<div
class="${prefix}thumbnail
{{#if simple}} ${prefix}thumbnail-simple
{{else}} ${prefix}thumbnail-bordered
{{/if}}
{{#if customHeight <= 100}} ${prefix}thumbnail-small{{/if}}
{{#if message}} ${prefix}thumbnail-with-message{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}
>

  {{#if url || base64}}
    <img
      class="${prefix}thumbnail-image
      {{#if mode}} ${prefix}thumbnail-image-{{hyphenate(mode)}}{{/if}}"

      {{#if url}}
        src="{{
          formatUrl
          ? formatUrl({
              url: url,
              width: customWidth,
              height: customHeight,
              responsive: true
            })
          : url
        }}"
      {{else if base64}}
        src="{{base64}}"
      {{/if}}

      {{#if alt}}
        alt="{{alt}}"
      {{/if}}
      draggable="false"
      on-error="error.thumbnail"
    >
  {{else}}
    <div
      class="${prefix}thumbnail-placeholder
      {{#if !@placeholder}} ${prefix}thumbnail-placeholder-empty{{/if}}"
    >
      <slot name="placeholder" />
    </div>
  {{/if}}

  {{#if message || showZoom}}
    <div class="${prefix}thumbnail-mask">
      {{#if message}}
        <div class="${prefix}thumbnail-message">
          {{{message}}}
        </div>
      {{else if showZoom}}
        <div class="${prefix}thumbnail-action">
          <Icon
            name="zoom-in-line"
            on-click.native="zoom.thumbnail"
          />
        </div>
      {{/if}}
    </div>
  {{/if}}


  {{#if uploadTitle}}
    {{#if uploadImage}}
      <Upload
        ref="upload"
        className="${prefix}thumbnail-footer"
        accept="{{accept}}"
        beforeUpload="{{beforeUploadImage}}"
      >
        {{uploadTitle}}
      </Upload>
    {{else}}
      <div
        class="${prefix}thumbnail-footer"
        on-click="upload.thumbnail"
      >
        {{uploadTitle}}
      </div>
    {{/if}}
  {{/if}}

  {{#if isLoading}}
    <Spin
      size="small"
      fixed
    />
  {{/if}}

</div>