<div
class="${prefix}switch
{{#if size}} ${prefix}switch-{{size}}{{/if}}
{{#if checked}} ${prefix}switch-checked{{/if}}

{{#if loading}} ${prefix}switch-loading
{{else if disabled}} ${prefix}switch-disabled
{{else}} ${prefix}switch-enabled
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if !disabled && !loading}}
  tabindex="0"
  on-click="onClick()"
{{/if}}
>

  <div class="${prefix}switch-thumb"></div>

  {{#if @on || @off}}
    <div class="${prefix}switch-label">
      <slot name="{{checked ? 'on' : 'off'}}" />
    </div>
  {{/if}}

</div>