<div
class="${prefix}page
{{#if size}} ${prefix}page-{{size}}{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  {{#partial prevPage}}
    {{#if hasSlot('prev')}}

      <button
        key="prev"
        class="${prefix}page-item ${prefix}page-custom-prev"

        {{#if current > 1}}
          on-click="decrease('current', 1, 1)"
        {{else}}
          disabled
        {{/if}}
      >
        <slot name="prev" />
      </button>

    {{else}}

      <button
        key="prev"
        class="${prefix}page-item ${prefix}page-prev"

        {{#if current > 1}}
          on-click="decrease('current', 1, 1)"
        {{else}}
          disabled
        {{/if}}
      >
        <Icon
          name="arrow-back"
          size="0"
          className="${prefix}page-icon"
        />
      </button>

    {{/if}}
  {{/partial}}

  {{#partial nextPage}}
    {{#if hasSlot('next')}}

      <button
        key="next"
        class="${prefix}page-item ${prefix}page-custom-next"

        {{#if current < count}}
          on-click="increase('current', 1, count)"
        {{else}}
          disabled
        {{/if}}
      >
        <slot name="next" />
      </button>

    {{else}}

      <button
        key="next"
        class="${prefix}page-item ${prefix}page-next"

        {{#if current < count}}
          on-click="increase('current', 1, count)"
        {{else}}
          disabled
        {{/if}}
      >
        <Icon
          name="arrow-forward"
          size="0"
          className="${prefix}page-icon"
        />
      </button>

    {{/if}}
  {{/partial}}

  {{#if showTotal}}
    <span class="${prefix}page-total">
      共 {{total}} 条
    </span>
  {{/if}}

  {{#if pageSizeList.length > 0}}
    <Select
      model="pageSize"
      size="{{size}}"
      placement="{{placement}}"
      className="${prefix}page-select"
      on-change="pageSizeChange()"
    >
      {{#each pageSizeList}}
        <Option value="{{this.value}}" text="{{this.text}}">
          {{this.text}}
        </Option>
      {{/each}}
    </Select>
  {{/if}}

  {{#if simple}}

    <div class="${prefix}page-simple">

      {{> prevPage}}

      <Input
        ref="simpleInput"
        type="input"
        size="{{size}}"
        model="tempPage"
        className="${prefix}page-simple-input"
      />

      <span class="${prefix}page-separator">
        /
      </span>

      <span class="${prefix}page-count">
        {{count}}
      </span>

      {{> nextPage}}

    </div>

  {{else}}

    <div class="${prefix}page-list">

      {{> prevPage}}

      {{#each pageList}}

        {{#if this.prev}}

          <button
            key="prev-ellipsis"
            class="${prefix}page-item ${prefix}page-ellipsis"
            on-click="decrease('current', 5, 1)"
          >
            <Icon
              name="arrow-back"
              size="0"
              className="${prefix}page-icon"
            />
            <Icon
              name="arrow-back"
              size="0"
              className="${prefix}page-icon"
            />
          </button>

        {{else if this.next}}

          <button
            key="next-ellipsis"
            class="${prefix}page-item ${prefix}page-ellipsis"
            on-click="increase('current', 5, ../count)"
          >
            <Icon
              name="arrow-forward"
              size="0"
              className="${prefix}page-icon"
            />
            <Icon
              name="arrow-forward"
              size="0"
              className="${prefix}page-icon"
            />
          </button>

        {{else}}

          <button
            key="page{{this.value}}"
            class="${prefix}page-item
            {{#if this.active}} ${prefix}page-active{{/if}}"
            {{#if !this.active}}
              on-click="changePage(this.value)"
            {{/if}}
          >
            {{this.value}}
          </button>

        {{/if}}

      {{/each}}

      {{> nextPage}}

    </div>

  {{/if}}

  {{#if showJumper}}
    <div class="${prefix}page-jumper">
      <Input
        ref="jumperInput"
        type="input"
        placeholder="请输入页码"
        model="tempPage"
        size="{{size}}"
        className="${prefix}page-jumper-input"
      />
      <Button
        type="primary"
        on-click="jump()"
      >
        跳转
      </Button>
    </div>
  {{/if}}

</div>