<div
class="${prefix}page
{{#if size}} ${prefix}page-{{size}}{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  {{#partial prevPage}}
    <div
      class="${prefix}page-item ${prefix}page-prev
        {{#if prevText}} ${prefix}page-custom-prev{{/if}}
        {{#if current <= 1}} ${prefix}page-disabled{{/if}}"

      {{#if current > 1}}
        on-click="prev()"
      {{/if}}
    >
      {{#if prevText}}
        {{prevText}}
      {{else}}
        <Icon name="arrow-back" />
      {{/if}}
    </div>
  {{/partial}}

  {{#partial nextPage}}
    <div
      class="${prefix}page-item ${prefix}page-next
        {{#if nextText}} ${prefix}page-custom-next{{/if}}
        {{#if current >= count}} ${prefix}page-disabled{{/if}}"

      {{#if current < count}}
        on-click="next()"
      {{/if}}
    >
      {{#if nextText}}
        {{nextText}}
      {{else}}
        <Icon name="arrow-forward" />
      {{/if}}
    </div>
  {{/partial}}

  {{#if showTotal}}
    <span class="${prefix}page-total">
      共 {{total}} 条
    </span>
  {{/if}}

  {{#if showSizer}}
    <Select
      model="pageSize"
      size="{{size}}"
      placement="{{placement}}"
      className="${prefix}page-select"
      on-change="pageSizeChange()"
    >
      {{#each pageList:index}}
        <Option index="{{index}}" value="{{value}}" text="{{text}}">
          {{text}}
        </Option>
      {{/each}}
    </Select>
  {{/if}}

  {{#if simple}}

    <div class="${prefix}page-simple">

      {{> prevPage}}

      <Input
        ref="simpleInput"
        type="input"
        size="{{size}}"
        model="currentPage"
        className="${prefix}page-simple-input"
      />

      <span class="${prefix}page-separator">
        /
      </span>

      <span class="${prefix}page-count">
        {{count}}
      </span>

      {{> nextPage}}

    </div>

  {{else}}

    <div class="${prefix}page-list">

      {{> prevPage}}

      <div
        class="${prefix}page-item
        {{#if current === 1}} ${prefix}page-active{{/if}}"
        {{#if current !== 1}}
          on-click="changePage(1)"
        {{/if}}
      >
        1
      </div>

      {{#if count > 1}}

        {{#if current - 5 >= 1}}
          <div class="${prefix}page-item ${prefix}page-item-prev" on-click="fastPrev()">
            <Icon name="arrow-back" />
            <Icon name="arrow-back" />
          </div>
        {{else}}
          {{#if current - 3 > 1}}
            <div class="${prefix}page-item" on-click="changePage(current - 3)">
              {{ current - 3 }}
            </div>
          {{/if}}
          {{#if current - 4 > 1}}
            <div class="${prefix}page-item" on-click="changePage(current - 4)">
              {{ current - 4 }}
            </div>
          {{/if}}
        {{/if}}

        {{#if current - 2 > 1}}
          <div class="${prefix}page-item" on-click="changePage(current - 2)">
            {{ current - 2 }}
          </div>
        {{/if}}

        {{#if current - 1 > 1}}
          <div class="${prefix}page-item" on-click="changePage(current - 1)">
            {{ current - 1 }}
          </div>
        {{/if}}

        {{#if current != 1 && current != count}}
          <div class="${prefix}page-item ${prefix}page-active">
            {{ current }}
          </div>
        {{/if}}

        {{#if current + 1 < count}}
          <div class="${prefix}page-item" on-click="changePage(current + 1)">
            {{ current + 1 }}
          </div>
        {{/if}}

        {{#if current + 2 < count}}
          <div class="${prefix}page-item" on-click="changePage(current + 2)">
            {{ current + 2 }}
          </div>
        {{/if}}

        {{#if current + 5 <= count}}
          <div class="${prefix}page-item ${prefix}page-item-next" on-click="fastNext()">
            <Icon name="arrow-forward" />
            <Icon name="arrow-forward" />
          </div>
        {{else}}
          {{#if current + 3 < count}}
            <div class="${prefix}page-item" on-click="changePage(current + 3)">
              {{ current + 3 }}
            </div>
          {{/if}}

          {{#if current + 4 < count}}
            <div class="${prefix}page-item" on-click="changePage(current + 4)">
              {{ current + 4 }}
            </div>
          {{/if}}
        {{/if}}

        <div
          class="${prefix}page-item
          {{#if current === count}} ${prefix}page-active{{/if}}"
          {{#if current !== count}}
            on-click="changePage(count)"
          {{/if}}
        >
          {{count}}
        </div>

      {{/if}}

      {{> nextPage}}

    </div>

  {{/if}}

  {{#if showElevator}}
    <div class="${prefix}page-elevator">
      <Input
        ref="elevatorInput"
        type="input"
        placeholder="请输入页码"
        model="elevatorPage"
        size="{{size}}"
        className="${prefix}page-elevator-input"
      />
      <Button
        type="primary"
        on-click="elevator()"
      >
        跳转
      </Button>
    </div>
  {{/if}}

</div>