<div
class="${prefix}message ${prefix}message-{{type}}
  {{#if isShow}} ${prefix}show{{/if}}
"
style="margin-left: -{{marginLeft / 2}}px;
  {{#if top}} top: {{top}}px;{{/if}}
">
  <Alert
    type="{{type}}"
    closeText="{{closeText}}"
    center="{{center}}"
    showIcon="{{showIcon}}"
    closable="{{closable}}"
    close="{{close}}"
  >
    {{content}}
  </Alert>
</div>