<div
class="${prefix}avatar
{{#if shape}} ${prefix}avatar-{{shape}}{{/if}}
{{#if src}} ${prefix}avatar-image{{/if}}
{{#if clickable}} ${prefix}avatar-clickable{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}

{{#if clickable}}
  on-click="click"
{{/if}}
>

  {{#if url || src}}
    <img
      {{#if url}}
        src="{{formatUrl ? formatUrl({ url: url, width: sizeValue, height: sizeValue, responsive: true }) : url}}"
      {{else}}
        src="{{src}}"
      {{/if}}

      {{#if srcSet}}
        srcset="{{srcSet}}"
      {{/if}}

      {{#if alt}}
        alt="{{alt}}"
      {{/if}}
      draggable="false"
      on-error="error.avatar"
    >
  {{else if hasSlot('icon')}}
    <slot name="icon" />
  {{else if text}}
    <span
      ref="text"
      class="${prefix}avatar-text"
      {{#if textStyle}}
        style="{{textStyle}}"
      {{/if}}
    >
      {{text}}
    </span>
  {{/if}}

</div>