<Popover
  ref="popover"
  placement="{{placement}}"
  trigger="{{mode}}"
  visible="{{isVisible}}"
  showDelay="{{delay}}"
  offsetX="{{offsetX}}"
  offsetY="{{offsetY}}"
>
  <slot />

  <div
    slot="overlay"
    class="${prefix}tooltip
    {{#if theme}} ${prefix}tooltip-{{theme}}{{/if}}
    {{#if className}} {{className}}{{/if}}"

    {{#if style}}
      style="{{style}}"
    {{/if}}
  >
    <div class="${prefix}popover-arrow"></div>
    <div
      class="${prefix}popover-content"
      {{#if maxWidth || maxHeight}}
        style="{{#if maxWidth}}max-width: {{maxWidth}}px;{{/if}}
        {{#if maxHeight}}max-height: {{maxHeight}}px;{{/if}}"
      {{/if}}
    >
      <slot name="content">
        {{content}}
      </slot>
    </div>
  </div>
</Popover>