<div
class="${prefix}space
{{#if vertical}} ${prefix}space-vertical
{{else}} ${prefix}space-horizontal
{{/if}}

{{#if align}} ${prefix}space-align-{{align}}{{/if}}
{{#if autoWrap}} ${prefix}space-auto-wrap{{/if}}
{{#if block}} ${prefix}space-block{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if sizeValue || style}}
  style="{{#if sizeValue}}gap: {{sizeValue}};{{/if}}
  {{#if style}}{{style}}{{/if}}"
{{/if}}
>

  <slot name="children" />

</div>