<div
class="${prefix}space
{{#if vertical}} ${prefix}space-vertical
{{else}} ${prefix}space-horizontal
{{/if}}

{{#if align}} ${prefix}space-align-{{align}}{{/if}}
{{#if autoWrap}} ${prefix}space-auto-wrap{{/if}}
{{#if block}} ${prefix}space-block{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}
>
  {{#each @children}}
    {{#if !this.isComment}}
      <div
        class="${prefix}space-item"
        {{#if itemStyle}}
          style="{{itemStyle}}"
        {{/if}}
      >
        {{>this}}
      </div>
    {{/if}}
  {{/each}}
</div>