<Popover
  ref="popover"
  placement="{{placement}}"
  trigger="{{trigger}}"
  visible="{{visible}}"
  gap="5"
>
  <slot />

  <div
    slot="overlay"
    class="${prefix}dropdown-overlay
    {{#if className}} {{className}}{{/if}}"

    {{#if maxHeight || style}}
      style="{{#if maxHeight}}max-height: {{maxHeight}}px;{{/if}}
      {{#if style}}{{style}}{{/if}}"
    {{/if}}
  >
    <slot name="overlay" />
  </div>
</Popover>