<Popover
  placement="{{placement}}"
  trigger="{{trigger}}"
  visible="{{visible}}"
  triggerMutable
  gap="5"
>
  <slot />

  <div
    slot="overlay"
    class="${prefix}dropdown-overlay
    {{#if className}} {{className}}{{/if}}"

    {{#if inlineStyle}}
      style="{{inlineStyle}}"
    {{/if}}
  >
    <slot name="overlay" />
  </div>
</Popover>